{% extends 'layout.html'%}

{% load i18n %}
{% load account %}
{% load url from future %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<style type="text/css" scoped>
  .login-page-wrapper{
    margin: 20px;
  }

  .socialaccount_providers{
    padding: 10px;
    background: #f4f4f4;
    box-shadow: 0px 2px 3px #ccc;
  }
  .social-account {
    color: #fff;font-weight: 600;font-size: 18px;
    box-shadow: 0px 2px 3px #ccc;
  }
  .social-account.google{
    background: #DF4A32;
  }
  .social-account.facebook{
    background: #3B5998;
  }
  .social-account.weibo{
    background: #E6162D;
  }

  .login-page-wrapper input{
    font-size: 16px;padding: 5px 10px; width: 300px;background: transparent;
  }
  .login-page-wrapper form{
    background: #f4f4f4;padding: 20px;margin-top:10px;
    box-shadow: 0px 2px 5px #ccc;
  }
</style>
<div class='login-page-wrapper'>

  <div class='section-title-large'>{% trans "Sign In" %}</div>
  <!-- If social accounts are supported in the setting.py -->
  <div>
    <div class="text-default">
    {% blocktrans with site.name as site_name %}

    Hello there. You can login with your social network account below

    for a {{site_name}} account and sign in below:{% endblocktrans %}</div>
    {% if False %}
    <div class="socialaccount_ballot" flex-gt-md="60">
      <div class="socialaccount_providers text-default">
        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
      </div>
    </div>
    {% endif %}
  </div>

  <br/>
  <div layout>
    <a href="/app/user/google/login/?process=login">
      <div class="social-account google" layout='row'>
        <div style='border-right:1px solid #ddd;padding-left:15px;padding-right:15px;' layout='column' layout-align='center'>
          <i class="fa fa-google-plus"></i>
        </div>
        <div layout='column' layout-align='center'>
          <div style='padding:10px 20px;'>Sign in with Google</div>
        </div>
      </div>
    </a>
  </div>
  <br/>
  <div layout>
    <a href="/app/user/facebook/login/?process=login">
      <div class="social-account facebook" layout='row'>
        <div style='border-right:1px solid #ddd;padding-right:15px;padding-left:15px;' layout='column' layout-align='center'>
          <i class="fa fa-facebook-official"></i>
        </div>
        <div layout='column' layout-align='center'>
          <div style='padding:10px 20px;'>Sign in with Facebook</div>
        </div>
      </div>
    </a>
  </div>
  <br/>
  <div layout>
    <a title="Weibo" href="/app/user/weibo/login/?process=login">
      <div class="social-account weibo" layout='row'>
        <div style='border-right:1px solid #ddd;padding-right:15px;padding-left:15px;' layout='column' layout-align='center'>
          <i class="fa fa-weibo"></i>
        </div>
        <div layout='column' layout-align='center'>
          <div style='padding:10px 20px;'>Sign in with Weibo</div>
        </div>
      </div>
    </a>
  </div>

  <br/>

  {% include "socialaccount/snippets/login_extra.html" %}

  <!-- Section for built-in django user system -->
  <div layout='column'>
    <div class="text-default">
      {% blocktrans %}
      Or if you prefer, log in with your existing continue account. In case you have not created an account yet, you can <a href="{{ signup_url }}"><span style='padding:5px 10px; background:#ddd;border-radius:2px;font-weight:600'>sign up</span></a> here.
      {% endblocktrans %}</div>

    <div flex-gt-md='60' flex-sm="100">
      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        <!--{{ form.as_p }}-->
        <div style='margin:10px 0px' layout='row' layout='start'>
          <div layout='column' layout-align='center'>
            <div class='input-label'>Username&nbsp;&nbsp;&nbsp;&nbsp;</div>
          </div>
          <div>
            <input type='text' id="id_login" maxlength="30" name='login'>
          </div>
        </div>
        <div style='margin:10px 0px' layout='row' layout='start'>
          <div layout='column' layout-align='center'>
            <div class='input-label'>Password&nbsp;&nbsp;&nbsp;&nbsp;</div>
          </div>
          <div>
            <input type='password' id='id_password' name='password'>
          </div>
        </div>
        <div style='margin:10px 0px' layout='row' layout='start'>
          <div layout='column' layout-align='center'>
            <div class='input-label'>Remember Me:&nbsp;&nbsp;&nbsp;&nbsp;</div>
          </div>
          <div layout='column' layout-align='center'>
            <input style='width:40px;' id="id_remember" name="remember" type="checkbox">
          </div>
        </div>
        {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <a class="button secondaryAction" href="{% url 'account_reset_password' %}"><span class='input-label'>{% trans "Forgot Password?" %}</span></a>
        <div layout='row' layout-align='center'>
          <button class="button button-default button-gray" type="submit">{% trans "Sign In" %}</button>
        </div>
      </form>
    </div>
  </div>

  {% endblock %}

</div>