{% extends "layout.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
    
    <div style='padding:20px 40px;background:#f4f4f4;height:100%;'>
      <br/><br/>
      <div style="background:#fff;padding:20px;box-shadow: 0px 2px 8px #ccc;">
        <div class="section-title section-title-large">
          {% trans "Verify Your E-mail Address" %}
        </div>

        <div class='text-default'>{% blocktrans %}We have sent an e-mail to you for <b>verification</b>. Follow the link provided to finalize the signup process. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</div>
      </div>
    </div>

{% endblock %}
