<div class='post-container'>
  <div class='post-header' layout='row' layout-align='space-between'>

    <div layout='row'>
      <!-- User photo -->
      <div>
        <a href="/app/user/?user_id={{ item.owner }}">
          <img height=50 ng-src="{{::event.item.owner_profile.photo}}">
        </a>
        &nbsp;&nbsp;&nbsp;
      </div>
      <!-- User's name and time posted -->
      <div>
        <a href="/app/user/?user_id={{ item.owner }}">
          <div class="username"><b ng-bind="event.item.owner_profile.name"></b>
          </div>
        </a>
        <div class="time-posted" ng-bind="event.time_updated|date: 'MMM dd yyyy H: mm a'"></div>
      </div>
    </div>

  </div>
  <div flex ng-switch on="event.field">
    <switch ng-switch-when="pic">
      <a href="/app/item/{{item.pk}}/timeline/">
        <b><span class='text-blue' ng-bind="event.item.title"></span></b>
      </a> has a new <b>image</b>.
    </switch>

    <switch ng-switch-when="status">
      <a href="/app/item/{{item.pk}}/timeline/">
        <b class='text-blue'><span ng-bind="event.item.title"></span></b>
      </a> updated its <b>status</b>
    </switch>

    <switch ng-switch-when="creation">
      added
      <a href="/app/item/{{item.pk}}/timeline/">
        <b><span class='text-blue' ng-bind="event.item.title"></span></b>
      </a>
    </switch>

    <switch ng-switch-when="description">
      <a href="/app/item/{{item.pk}}/timeline/">
        <b><span class='text-blue' ng-bind="event.item.title"></span></b>
      </a> has a new <b>description</b>.
    </switch>

    <switch ng-switch-default>
      <a href="/app/item/{{item.pk}}/timeline/">
        <b><span class='text-blue' ng-bind="event.item.title"></span></b>
      </a>updated its <b><span ng-bind=" event.field "></span></b>: 
      <span ng-if="event.widget=='text'">
        <em><span ng-bind="event.new_value"></em>.</span>
      </span>
      <span ng-if="event.widget=='color'">
        <div style='height:22px;width:22px;background:{{ new_val }};display:inline-block;vertical-align:middle;'></div>
      </span>

    </switch>

  </div>

  <if ng-if="event.field == 'pic'">
    <br/>
    <div class='picture-container'
        style="background-image: url({{ event.new_value }});">
      <img ng-src="{{ event.new_value }}">
    </div>
  </if>
  <if ng-if="event.field == 'creation'">
    <div ng-init='item=event.item'>
      <angular-item-overview></angular-item-overview>
    </div>
  </if>
  <if ng-if='event.field == "status" '>
    <div class='event-body status'>
     <i class="fa fa-quote-left"></i>&nbsp;&nbsp;<span ng-bind="event.new_value"></span>
    </div>
  </if>
  <if ng-if="event.field=='description'">
    <div class='event-body description' ng-bind="event.new_value">
    </div>
</div>