<div class='item-overview-field'>
  <div>
    <span style='color:#999;' ng-bind="::title"></span>
  </div>
  <div layout='row' layout-align='start center'>
    <span ng-if="widget == 'color'" style='height:11px;width:11px;background-color:{{value}}'></span>
    <span ng-if="widget == 'color'">&nbsp;</span>
    <span style='font-weight:600;color:#666;'
        ng-bind="::value">
    </span>
    &nbsp;
    <span style='font-weight:600;color:#666;'
        ng-bind='::unit'>
    </span>
  </div>
</div>