<div class='post-container'>
  <div class='post-header' layout='row' layout-align='space-between'>

    <div layout='row'>
      <!-- User photo -->
      <div>
        <a href="/app/user/?user_id={{event.giver.uid}}">
          <img height=50 ng-src="::event.giver.profile.social_account_photo">
        </a>&nbsp;&nbsp;&nbsp;
      </div>
      <!-- User's name and time posted -->
      <div>
        <div class="username">
          <b ng-bind="event.giver.profile.name"></b>
        </div>
        <div class="time-posted" ng-bind="event.time_updated|date: 'MMM dd yyyy H: mm a'"></div>
      </div>
      <div layout='column' layout-align='center'
          style='margin-left:20px;margin-right:20px'>
        <i class="fa fa-long-arrow-right fa-2x"></i>
      </div>
      <div>
        <a href="/app/user/?user_id={{event.receiver.uid}}">
          <img height=50 ng-src="::event.receiver.profile.social_account_photo">
        </a>&nbsp;&nbsp;&nbsp;
      </div>
      <div>
        <div class="username"><b ng-bind="event.receiver.profile.name"></b></div>
        <div class="time-posted" ng-bind="event.time_updated|date: 'MMM dd yyyy H: mm a'"></div>
      </div>
    </div>

  </div>
  <if ng-if="event.field == 'pic'">
    <div class='picture-container'
        style="background-image: url(event.new_value);">
      <img ng-src="::event.new_value">
    </div>
  </if>
  <if ng-if="event.field == 'creation'">
    <div class='event-body status' ng-init='item=event.item'>
      <angular-item-overview></angular-item-overview>
    </div>
  </if>
  <if ng-if='event.field == "status" '>
    <div class='event-body status'>
     <i class="fa fa-quote-left"></i>
     &nbsp;&nbsp;<span ng-bind="event.new_value"></span>
    </div>
  </if>
  <if ng-if="event.field=='description'">
    <div class='event-body description' ng-bind="event.new_value">
    </div>
</div>