<form trigger transition class='dashboard-item-overview' name='{{"item-form-" + item["id"]}}'>

  <div>
    <!-- ================================== -->
    <!-- ======== Left basic panel ======== -->
    <div flex>
      <!-- Title & quantity -->
      <div trigger layout='row' layout-align='space-between center'>
        <div layout='row'>
          <div class='post-item'>
            <div layout='row' layout-align='space-between center' flex>
              <auto-expand short-title data='item.title'>
                <input type='text' style='border:none'
                    ng-model="item.title" placeholder="Item title">
              </auto-expand>
              <div>
                <input type='text' ng-model="item.quantity" style='width: 35px;
    border: none;background: #fff;text-align: center;padding: 5px;color: #00B411;font-weight: 600;'>
              </div>
            </div>
          </div>

          <div>
            <div class='button button-small button-gray'
                ng-click='get_albums(item)'>
              <i class="fa fa-picture-o" style='font-size:26px;'></i>
            </div>
          </div>
          <div>
            <a href="/app/item/{{:: item.id }}/timeline/">
            <div class='button button-small button-gray'>
            <i class='fa fa-clock-o' style='font-size:26px;'></i>
            </div></a>
          </div>
          <!-- The transfer menu should not appear for the following cases -->
          <!-- - The user is not the current owner -->
          <!-- - The item is in pending transaction -->
          <!-- - There are no request on the item -->
          &nbsp;&nbsp;&nbsp;
          <div ng-if="item.owner == user.user_id && item.requesters.length > 0
                      && item.transferrable ">
            <input-dropdown reduced-padding label="'Transfer to'"
                data="item.new_owner" transfer='true'
                user="user"
                choices="item.requesters"></input-dropdown>
          </div>
        </div>


        <div layout='row' ng-switch on="item.visibility">
          <i class="fa fa-globe" style='font-size:20px;' ng-switch-when="Public"></i>
          <i class="fa fa-lock" style='font-size:20px;' ng-switch-when="Private"></i>
          <i class="fa fa-users" style='font-size:20px;' ng-switch-when="Ex-owners"></i>
        </div>
      </div>

      <!-- status input area -->
      <!-- <div trigger class='text-default item-status' style='line-height:22px;color:#666;' ng-bind="item.status"></div> -->
      <textarea
          placeholder="What's new with it?"
          rows='3'
          ng-model="item.status">
      </textarea>
      <div ng-if="item.pic" class='picture-container'
        ng-style="{'background': 'url({{item.pic}})', 'background-size': '100%' }">
        <img ng-src="{{item.pic}}" style='width:100%;opacity:0'>
      </div>

    </div>

    <!-- Right detail panel -->
    <div class="dashboard-item-overview-details" ng-show="item.expanded">
      <br/>
      <div layout='row'>
        <input-dropdown label="'condition'" flex
            choices="item.condition_choices" data='item.condition'>
        </input-dropdown>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <input-dropdown label="'availability'" flex
            choices="item.availability_choices" data="item.availability">
        </input-dropdown>
        <input-dropdown label="'visibility'" flex
            choices="item.visibility_choices" data='item.visibility'>
        </input-dropdown>
        <input-dropdown label="'utilization'" flex
            choices="item.utilization_choices" data='item.utilization'>
        </input-dropdown>
      </div>
      <br/>
      <div layout="row">
        <div layout='row' layout='center' flex>
          <input-date label="Acquired on" date="item.acquiring_date">
          </input-date>
        </div>

        <div auto-expand data="item.original_value"
            init-width="60px" min-size="10" flex>
          <input-num label='Original $' num='item.original_value'>
          </input-num>
        </div>

        <div flex data="item.estimated_value" auto-expand init-width="60px"
            min-size="10">
          <input-num label='Estimated $' num='item.estimated_value'>
          </input-num>
        </div>
      </div>
      <br/>
      <tags-input ng-model='item.tags_input' class='custom' placeholder="Tag you item">
      </tags-input>
      <input-text label="'Intented use'"
          place-holder="'e.g. to read e-books ...'"
          container-class="'input-container-mid'"
          input-class="'input-default'"
          data="item.intented_use">
      </input-text>
      <input-text label="'Model'" place-holder="'e.g. Ultra sharp 2312..'"
          container-class="'input-container-mid'"
          input-class="'input-default'"
          data="item.model">
      </input-text>
      <input-text label="'Description'" place-holder="'helps you and others search for this item.'"
          container-class="'input-container-mid'"
          input-class="'input-default'"
          data="item.description">
      </input-text>
    </div>
  </div>

  <div layout='row' layout-align='end'>
    <md-button ng-show="!item.is_new" type='button'
        ng-click="save(item, item_update_successHandler)">
      update
    </md-button>
    <md-button ng-show='item.is_new' type='button'
        ng-click="save(item, item_create_successHandler)">
      create
    </md-button>
  </div>
</form>