<div class="dashboard-item-overview-details">
  <br/>
  <tags-input class='custom long' ng-model='item.tags_input' class='custom' placeholder="Tag you item">
  </tags-input>
  <tags-input class='custom purple long' ng-model='item.tags_private_input' placeholder="Private tags">
  </tags-input>
  <div layout='row'>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <input-dropdown label="'Frequence of use'" flex
        choices="item.utilization_choices" data='item.utilization'>
    </input-dropdown>
  </div>
  <br/>
  <div layout="row">
    <div layout='row' layout='center' flex>
      <input-date label="Acquired on" date="item.acquiring_date">
      </input-date>
    </div>

    <div auto-expand data="item.original_value"
        init-width="60px" min-size="10" flex>
      <input-num label='Original $' num='item.original_value'>
      </input-num>
    </div>

    <div flex data="item.estimated_value" auto-expand init-width="60px"
        min-size="10">
      <input-num label='Estimated $' num='item.estimated_value'>
      </input-num>
    </div>
  </div>
  <br/>
  <input-text label="'Intented use'"
      place-holder="'e.g. to read e-books ...'"
      container-class="'input-container-mid'"
      input-class="'input-default'"
      data="item.intented_use">
  </input-text>
  <input-text label="'Model'" place-holder="'e.g. Ultra sharp 2312..'"
      container-class="'input-container-mid'"
      input-class="'input-default'"
      data="item.model">
  </input-text>
  <input-text label="'Description'" place-holder="'helps you and others search for this item.'"
      container-class="'input-container-mid'"
      input-class="'input-default'"
      data="item.description">
  </input-text>
</div>