<div class="dashboard-item-overview-details">

  <!-- Description -->
  <div layout='row' layout='start center'>
    <div flex>
      <input-text label="'Description'" place-holder="'0-140 characters.'"
          container-class="'input-container-mid'"
          input-class="'input-default'"
          data="item.description">
      </input-text>
    </div>
    &nbsp;&nbsp;
    <div layout='column' layout-align='center'>
      <i class='fa fa-info-circle'
          tooltip="Description displays along with the item when viewed by others."
          tooltip-placement="bottom"></i>
    </div>
  </div>

  <!-- Tags -->
  <div layout='row'>
    <div layout='column' layout-align='center'>
      <div><i class="fa fa-tags" style='font-size:20px;'></i>&nbsp;</div>
    </div>
    <div flex>
      <tags-input class='custom long' ng-model='item.tags_input' class='custom' placeholder="Tag you item"></tags-input>
    </div>
    &nbsp;&nbsp;
    <div layout='column' layout-align='center'>
      <i class='fa fa-info-circle'
        tooltip="These tags will be displayed along with your item (if the item is publically-visible)"
        tooltip-placement="right">
    </i>
    </div>
  </div>

  <!-- Private Tags -->
  <div layout='row'>
    <div layout='column' layout-align='center'>
      <div>
        <i class="fa fa-tags" style='font-size:20px;color:#CA5EFA;'></i>&nbsp;
      </div>
    </div>
    <div flex>
      <tags-input class='custom purple long' ng-model='item.tags_private_input' placeholder="Private tags">
      </tags-input>
    </div>
    &nbsp;&nbsp;
    <div layout='column' layout-align='center'>
      <i class='fa fa-info-circle'
        tooltip="Private tags are only visible and searchable by you."
      tooltip-placement="bottom">
    </i>
    </div>
  </div>
  

  <br/>
  <accordion close-others="oneAtATime">
  
    <accordion-group is-open="preset_is_open">
      <!-- Presets -->
      <accordion-heading ng-click="preset_is_open=!preset_is_open">
        <i class="fa fa-cog"></i>&nbsp;Presets &nbsp; 
        <i ng-show='!preset_is_open' class='fa fa-caret-down'></i>
        <i ng-show='preset_is_open' class='fa fa-caret-up'></i>
      </accordion-heading>
      <div>
        <input-dropdown label="'Condition'" flex style='margin-left:10px;margin-right:10px;display:inline-block'
            choices="item.condition_choices" data='item.condition'>
        </input-dropdown>
        <input-dropdown label="'Visible to'" flex style='margin-left:10px;margin-right:10px;display:inline-block'
            choices="item.visibility_choices" data='item.visibility'>
        </input-dropdown>
        <input-dropdown label="'Available'" flex style='margin-left:10px;margin-right:10px;display:inline-block'
            choices="['For Share', 'For Sale', 'No']" data='item.available'>
        </input-dropdown>
        <input-dropdown label="'Frequence of use'" flex style='margin-left:10px;margin-right:10px;display:inline-block;'
            choices="item.utilization_choices" data='item.utilization'>
        </input-dropdown>
      </div>
      <div layout="row">
        <div style='padding:10px;' layout='row' layout='center' flex>
          <input-date label="Acquired on" date="item.acquiring_date">
          </input-date>
        </div>

        <div auto-expand data="item.quantity"
            init-width="60px" min-size="10" flex>
          <input-num label='Quantity' num='item.quantity'>
          </input-num>
        </div>

        <div auto-expand data="item.original_value"
            init-width="60px" min-size="10" flex>
          <input-num label='Original $' num='item.original_value'>
          </input-num>
        </div>

        <div flex data="item.estimated_value" auto-expand init-width="60px"
            min-size="10">
          <input-num label='Estimated $' num='item.estimated_value'>
          </input-num>
        </div>
      </div>
      <div ng-if='item.id' layout='row' layout-align='end'>
        <a href="/app/item/{{item.id}}/delete/">
          <div class='button button-small button-red'
              tooltip="Permanently delete the item and all related updates.">
            <i class='fa fa-trash'></i>&nbsp;Delete the item
          </div>
        </a>
      </div>
    </accordion-group>


    <accordion-group is-open="true">
      <accordion-heading>
        <i class="fa fa-cogs"></i>&nbsp;Customized Fields &nbsp; <i class='fa fa-caret-down'></i>
      </accordion-heading>
      <!-- Customized fields -->
      <!-- - NUMBER fields -->
      <div ng-repeat="field in item.customized_num_fields"
          style='display:inline-block;padding:10px;'
          ng-init="show_title_input=false">
        <if drop-down-menu ng-if="field.id">
          <span drop-down-menu-trigger>
            <span class='text-light-gray' ng-bind="field.title"></span>
            <span><i class="fa fa-caret-down"></i></span>
          </span>
          <div drop-down-menu-target>
            <item-field-edit-menu></item-field-edit-menu>
          </div>
        </if>
        <if ng-show="!field.id"
            auto-expand data='field.title' init-width="70px" min-size=10>
          <input style='font-weight:600;color:#666;' placeholder="Title" type="text" ng-model="field.title" required>
        </if>
        <div layout='row'>
          <span auto-expand data='field.value' init-width="50px" min-size=5>
            <input placeholder="value" style='font-weight:600;color:#666;'
                type="text" ng-model='field.value' required>
          </span>
          <span auto-expand data='field.unit' init-width="40px" min-size=5>
            <input placeholder='unit' style='text-align:center;font-weight:600;color:#666;' type="text"
                ng-model='field.unit'>
          </span>
        </div>
      </div>

      <!-- - Char Fields -->
      <div ng-repeat="field in item.customized_char_fields"
          style='display:inline-block;padding:10px;'>
        <if drop-down-menu ng-if="field.id">
          <span drop-down-menu-trigger>
            <span class='text-light-gray' ng-bind="field.title"></span>
            <span><i class="fa fa-caret-down"></i></span>
          </span>
          <div drop-down-menu-target>
            <item-field-edit-menu></item-field-edit-menu>
          </div>
        </if>
        <if ng-if="!field.id" auto-expand data='field.title' init-width="70px" min-size=10>
          <input style='font-weight:600;color:#666;' placeholder="Title" type="text" ng-model="field.title">
        </if>
        <div auto-expand data='field.value' init-width="100px" min-size=5>
          <input style='font-weight:600;color:#666;' placeholder="Value" type="text" ng-model='field.value'>
        </div>
      </div>

      <!-- - Color Fields -->
      <div ng-repeat="field in item.customized_color_fields"
          style='display:inline-block;padding:10px;'>
        <if drop-down-menu ng-if="field.id">
          <span drop-down-menu-trigger>
            <span class='text-light-gray' ng-bind="field.title"></span>
            <span><i class="fa fa-caret-down"></i></span>
          </span>
          <div drop-down-menu-target>
            <item-field-edit-menu></item-field-edit-menu>
          </div>
        </if>
        <if ng-if="!field.id" auto-expand data='field.title' init-width="70px" min-size=10>
          <input style='font-weight:600;color:#666;' placeholder="Title" type="text" ng-model="field.title">
        </if>
        <div auto-expand data='field.value' init-width="100px" min-size=5>
          <input minicolors="{position:'bottom left'}" style='font-weight:600;color:#666;' placeholder="Value" type="text" ng-model='field.value'>
        </div>
      </div>


      <!-- Add field button -->
      <div style='padding:10px;' class="dropdown" dropdown>
        <a href class="dropdown-toggle" dropdown-toggle>
          <i class="fa fa-plus"></i>&nbsp;<i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu">
          <li role="presentation" class="dropdown-header">
            Add your customized log
          </li>
          <li ng-click="item.add_customized_char_field()">
            <a href><b>Add a text record</b></a>
          </li>
          <li ng-click="item.add_customized_num_field()">
            <a href><b>Add a number record</b></a>
          </li>
          <li ng-click="item.add_customized_color_field()">
            <a href><b>Add a color record</b></a>
          </li>
        </ul>
      </div>
    </accordion-group>
  </accordion>

</div>