<style type="text/css">
  
  [item-editor]{
      padding: 10px 15px;
      background: #fff;
      border: 1px solid #ddd;
  }


  /* =========================== item list =========================== */
  .dashboard-item-overview-basics, .dashboard-item-overview-details{
      padding:0px 10px 10px 10px;
  }
  .dashboard-item-overview textarea{
      height:80px;padding: 10px 12px;margin-top: 5px;
  }

  .button.pagination{
      font-size: 14px;padding: 5px 10px;
      background: #f4f4f4;border: 1px solid #eee;
      margin: 10px;
  }
  .button.pagination:hover{
      background: #eee;
  }

  .post-item{
      padding: 5px 5px 5px 10px;background: #00b411;margin-bottom: 5px;
  }
  .post-item input{
      color: #fff;font-size: 16px;padding: 0px;line-height: 20px;
  }
  .item-status{
      margin-bottom: 5px;
  }


  .choices-list{
      background: #fff;box-shadow: 0px 3px 6px #ccc;
      position:absolute;margin-left: -10px;
      z-index:1;
  }
  .choice-result{
      font-size:14px;cursor: pointer;
      border: 2px;font-weight: 600;
  }
  .choice-option {
      padding: 10px 15px;font-size: 14px;cursor: pointer;
      background: #fff;
  }
  .choice-option:hover{
      background-color:#eee;
  }
  .choice-option.active{
      background-color:#eee;
  }

  .hide {
      display: none;
  }

  /* Because the #f4f4f4 background of Bottom Sheet */
  input-dropdown>div:hover{
      background: #eee;
  }
  input-num>div:hover, [input-num]>div:hover{
    background: #eee;
  }
</style>

<div layout='row' layout-align='center'>
  <form item-editor transition name='{{"item-form-" + item["id"]}}' flex-gt-md="90" flex="100">

    <div layout='row'>
      <!-- ================================== -->
      <!-- ======== Left basic panel ======== -->
      <div flex style='margin:20px 10px 10px;'>
        <!-- Title & quantity -->
        <!-- <div layout='row' layout-align='space-between center'>
          <div layout='row'>
            <div class='post-item'>
              <div layout='row' layout-align='space-between center' flex>
                <auto-expand short-title data='item.title'>
                  <input type='text' style='border:none'
                      ng-model="item.title" placeholder="Item title">
                </auto-expand>
                <div>
                  <input type='text' ng-model="item.quantity" style='width: 35px;
      border: none;background: #fff;text-align: center;padding: 5px;color: #00B411;font-weight: 600;'>
                </div>
              </div>
            </div>
          </div>

        </div> -->

        <div class='item-editor-pro-header' layout='row'>
          <item-editor-pro-title flex></item-editor-pro-title>
        </div>

        <!-- status input area -->
        <div class='text-default item-status' style='line-height:22px;color:#666;' ng-bind="item.status"></div>
        <textarea
            style='border-color:#ccc;'
            placeholder="What's new with it? (up to 300 characters ...)"
            rows='3'
            ng-model="item.new_status">
        </textarea>
        <div style='max-width:100%;overflow:hidden;text-align:center' flex>
          <img ng-src="{{item.pic}}" style='margin:10px;' height=200>
        </div>
      </div>

      <!-- ================================== -->
      <!-- ======== Right detail panel ======== -->
      <div flex="60">
        <item-editor-pro-basics></item-editor-pro-basics>
        <item-editor-pro-more></item-editor-pro-more>
      </div>
    </div>

    <div layout='row' layout-align='end'>
      <div class='button button-small button-blue' ng-show="!item.is_new" type='button'
          ng-click="update_item(item)">
        <i class='fa fa-refresh'></i>&nbsp;update
      </div>
      <div class='button button-small button-blue' ng-show='item.is_new' type='button' ng-click="add_to_post()">
        OK
      </div>
    </div>
  </form>
</div>