<form class='item-editor-pro' name='item-editor-{{item.id}}' enctype='application/json'>
  <div>
    
    <!-- Header -->
    <div layout='column' layout-gt-lg="row">
      <item-editor-pro-title></item-editor-pro-title>
      <item-editor-pro-basics flex></item-editor-pro-basics>
    </div>

    <div ng-if="item.tags || item.tags_private">
      <span class='tag tag-small tag-gray'
        ng-repeat="tag in item.tags" ng-bind='tag' ng-click="items_search(tag)">
      </span>
      <span class='tag tag-small tag-purple'
        ng-repeat="tag in item.tags_private" ng-bind='tag' ng-click="items_search(tag)">
      </span>
    </div>
    <div class='text-default' style="color:#999;letter-spacing:0.2px;line-height:1.5;" ng-show='item.status'>
      &nbsp;<i class="fa fa-quote-left"></i>&nbsp;&nbsp;<span ng-bind="item.status" ></span>
    </div>
    <textarea
        placeholder="What's new with it?"
        rows='3'
        ng-model="item.new_status">
    </textarea>
    <div>
      <br/>
      <div ng-if="item.pic">
        <img ng-src="{{item.pic}}" style='width:100%;'>
      </div>
    </div>

    <item-editor-pro-more ng-show='item.expanded'></item-editor-pro-more>

    <br/>
    <div layout='row' layout-align='end'>
      <div class='button button-small button-gray'
          ng-click="expand(item)">
        <span ng-show="!show_more">More</span>
        <span ng-show="show_more">Less</span>
      </div>
      &nbsp;
      <div class='button button-small button-gray' ng-if="item.is_new"
          ng-click="reset(item)">
        Reset
      </div>
      &nbsp;
      <div class='button button-small button-gray' ng-if="!item.is_new"
          ng-click="save(item, item_update_successHandler)">
        Update
      </div>
      &nbsp;
      <div class='button button-small button-gray' ng-if="item.is_new"
          ng-click="save(item, item_create_successHandler)">
        Create
      </div>
    </div>
  </div>
</form>