<style type="text/css">
  .fa{
    cursor: pointer;font-size: 25px;
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
  }
  .fa.fa-times-circle{
    color: #666;
  }
  .fa.fa-times-circle:hover{
    color: red;
  }
</style>

<div class="modal-dialog modal-lg" ng-controller="ModalCtrl">
    <div class="modal-content">

      <!-- Header and title -->
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">
          <input ng-model='modal.post.title'>
        </h4>
      </div>

      <!-- Main body -->
      <div class="modal-body">
        <textarea class='form-control' ng-model='modal.post.detail'>
        </textarea>
        <!-- List of items -->
        <div layout='horizontal' layout-align='start'
            ng-repeat="item in modal.post.items" layout='center center'>
          <div layout='vertical' layout-align='center'>
            <i class="fa fa-times-circle"
                ng-click="remove_item($index)"></i>
          </div>
          <!-- Item title -->
          <div>
            <input class='input-default' ng-model='item.title'>
          </div>
          <!-- Item quantity -->
          <div>
            <input class='input-default input-short' ng-model='item.quantity'>
          </div>
          <!-- Conditions -->
          <div>
            <div class="btn-group btn-group-md" mg-t-10>
              <button ng-repeat="(val, cond) in {'Nw': 'New', 'Ln': 'Like new', 'Gd': 'Good', 'Fr': 'Fair'}"
                  type="button" class="btn"
                  ng-class="{'btn-active': item.condition === val}" ng-click="set_cond(item, val)">{{ cond }}</button>
            </div>
          </div>
        </div>
        <!-- Add item -->
        <div layout='horizontal' layout-align='center'>
          <div class='button button-small button-blue'
              ng-click='add_item()'>
            Add item
          </div>
        </div>
      </div>

      <!-- Footer -->
      <div class="modal-footer">
        <button ng-if="modal.type == 'edit'" type="button" class="btn btn-primary"
            ng-click='update_post()'>Update</button>
        <button ng-if="modal.type == 'edit'" type="button" class="btn btn-primary"
            ng-click='delete_post()'>Delete</button>
        <button ng-if="modal.type == 'create'" type="button" class="btn btn-primary"
            ng-click='create_post()'>Publish</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>