<div class='result-post' layout="vertical">

  <div class='result-post-title' mg-lr-20 >
    <div class='text-title' layout='vertical' layout-align='center'
        data-toggle="modal" data-target="#myModal"
        ng-click='setModal(post)'>
      {{ post.title }}
    </div>
  </div>
  <div layout='vertical' layout-lg='horizontal'>   
    <div class='result-post-text' mg-lr-20
        layout='vertical' layout-align='center'>
      <div >Items available at {{ post['zip_code'] }}</div>
    </div>
    <div class='result-post-text' mg-lr-20
        layout='vertical' layout-align='center'>
      <div >Posted by {{ post.owner }}</div>
    </div>
  </div>
  <div>
    <div class="result-post-text" mg-tb-20 mg-lr-20>
      {{ post['detail'] }}
    </div>
  </div>
  <div mg-tb-20 mg-lr-20>
    <span ng-repeat="item in post.items">
      <span class='tag-default tag-blue'>
        {{item.title}} x <span>{{item.quantity}}</span>
      </span>
    </span>
  </div>

</div>