<div id='post-{{ ::post.id }}' class='post-container'
    search-post-overview ng-cloak
    owner-id="{{ ::post.owner }}" post-id="{{::post.id }}">

  <!-- Post header (title, area, owner, etc.) -->
  <div class='post-header' layout='row' layout-align='space-between'>

    <div layout='row'>
      <!-- User photo -->
      <div>
        <a href="/app/user/?user_id={{post.owner}}"><img height=50 ng-src="{{::post.owner_photo}}"></a>&nbsp;&nbsp;&nbsp;
      </div>
      <!-- User's name and time posted -->
      <div>
        <a href="/app/user/?user_id={{post.owner}}"><div class="username"><b ng-bind="post.owner_name"></b></div></a>
        <div class="time-posted" ng-bind="post.time_created|date: 'MMM dd yyyy H: mm a'"></div>
      </div>
    </div>
    <!-- Expiration time -->
    <div reduced-padding>
      <div class='expiration' ng-if="::post.remaining_time">
        <switch ng-switch on="::post.remaining_time > 0">
          <when ng-switch-when="true">
            Expiring in <span ng-bind="::post.remaining_time"></span>days
          </when>
          <when ng-switch-when="false">Probably expired</when>
        </switch>
      </div>
      <div ng-if="profile.user_id == post.owner" layout='row' layout-align='end' mg-tb-10>
        <a href="/app/post/{{::post.id}}">
        <div class='button button-small button-white'>
          <i class='fa fa-pencil'></i>&nbsp;Edit
        </div>
        </a>
      </div>
    </div>

  </div>

  <!-- Post detail & item-list -->
  <div class='post-body'>
    <div layout='column' layout-gt-md='row' layout-align='space-between center'>
      <div>
        <div class="text-large" ng-bind="post.title"></div>
        <div layout='row'>
          <div>Location: <bind ng-bind="post.area"></bind></div>&nbsp;&nbsp;
          <div style="color:#999;cursor:pointer;border:1px solid #eee;padding:0px 5px;"
              follow-button-area area='{{post.area}}' ng-cloak ng-show="!is_followed(post.area) && !profile.is_anonymous"
              ng-click="follow(post.area)">
            <i class='fa fa-plus'></i>&nbsp;Follow
          </div>
          <div ng-cloak ng-show="is_followed(post.area)">
            <i class="fa fa-check"></i>
          </div>
          &nbsp;
          <div layout='column' layout-align='center'>
            <i style='color:#666;' class="fa fa-info-circle" tooltip-placement="bottom"
              tooltip="Following an area: public posts and items from the area will appear in your news feeds."></i>
          </div>
        </div>
      </div>
    </div>
    <div>
      <span ng-repeat="tag in post.tags" class='tag tag-small tag-gray'>
        #<bind ng-bind="tag"></bind>
      </span>
    </div>
    <div ng-if="post.detail" click-to-expand max-height='125px'>
      <div click-to-expand-target class="text-default" style='background: #f9f9f9;padding:5px 20px;margin-top:10px;
      max-height:125px;overflow:hidden'
      marked="post.detail">
      </div>
      <div click-to-expand-trigger class='button button-small button-gray' style='border-radius:0px;margin-top:0px;'>
         <i class="fa fa-arrows-v"></i>&nbsp; toggle detail
       </div>
    </div>

    <!-- item list of the post -->
    <div ng-repeat="item in post.items"
         ng-if="(item.visibility == 'Public') || (item.visibility == 'Ex-owners' && (profile.user_id|previously_owned:item))" layout='row' flex>
      <angular-item-overview flex></angular-item-overview>
    </div>
  </div> <!-- post body end -->

  <!-- [contact-me] button for each post -->
  <div layout='row' layout-align='end'>
    <div style='display:none' contact-button class='button button-small button-gray'
        ng-click="contact()" ng-show="items.length > 0">
      <i class="fa fa-weixin"></i>&nbsp;&nbsp;Contact me
    </div>
  </div>
</div>