<div class='user-post-overview' layout="vertical">

  <div mg-lr-20 layout='horizontal' layout-align='space-between center'>
    <div class='user-post-title' layout='vertical' layout-align='center'>{{ post.title }}</div>
    <div data-toggle="modal" data-target="#modal-edit-post" style='cursor:pointer;'
        ng-click='set_modal_edit(post, $index)'>
       <i class="fa fa-pencil-square-o" style='font-size:20px;padding-top:5px;padding-left:10px;'></i>
    </div>
  </div>
  <div layout='vertical' layout-lg='horizontal'>
    <div class='user-post-text' mg-lr-20
        layout='vertical' layout-align='center'>
      <div >Items available at {{ post['zip_code'] }}</div>
    </div>
  </div>
  <div mg-tb-20 mg-lr-20>
    <span ng-repeat="item in post.items">
      <span class='user-post-item'>
        {{item.title}} x <span>{{item.quantity}}</span>
      </span>
    </span>
  </div>

</div>