<div ng-controller="privateMessageCtrl">
  <form name='message-form' id="message-form" layout>
    <div layout='row' layout-align='start start' flex>
      <div layout='column' layout-align="start end">
        <div class='text-default'>Subject: </div>
        <div class='text-default'>Your message:</div>
      </div>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <div flex>
        <div><input type='text' ng-model="subject"></div>
        <div><textarea ng-model='body' style='height:200px;max-height:300px;margin-top:10px;'></textarea></div>
      </div>
    </div>

    <div style='max-width: 30%;margin-left:20px;'>
      <div class='text-large'>
        Items that you are interested in 
      </div>
      <div style='display:inline-block;margin-right:20px;margin-top:20px;'
          ng-repeat='item in items track by item.id'>
        <div class='item-overview-title'>
          <div layout='row'>
            <div layout='column' layout-align='center'>
              <div ng-bind="item.title"></div>
            </div>
            <div class='item-overview-quantity' ng-bind="item.quantity"></div>
          </div>
        </div>

      </div>
    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <div layout='column' layout-align='end'>
      <div>
        <div class='button button-small button-gray' flex
            ng-click="send()">
          Send
        </div>
      </div>
    </div>
  </form>
</div>