{% extends "layout.html" %}

{% block content %}

<style>
  [name='activitySignUpForm']{
    background: #fff;padding: 40px 20px 20px 20px;border: 1px solid #ddd
  }
</style>
<div ng-controller="activitySignUpCtrl" ng-init="activity = '{{activity}}'">
  <form name='activitySignUpForm'>
    <div reduced-padding>
      <div class='text-gray'>
        A beginners' guide to
      </div>
      <div style='border-bottom:2px solid #aaa;'
          layout='row' layout-sm='column' layout-align='space-between center'>
        <div class='text-blue' style='font-size:40px;font-weight:600;'>
          {{activity}}
        </div>
        <div style="font-size:20px;">
          Sign up for the upcoming event!
        </div>
      </div>
    </div>


    <div style='background:#f4f4f4;padding:10px;border-bottom:1px solid #ccc;'>
      <p><span class='text-large text-blue'>Hi there!</span></p>
      <p>
        The <span class='text-large text-blue'>Feb 20</span> event will take place at <span class='text-large text-blue'>5:30</span> pm in <span class='text-large text-blue'>SAC 303</span>. We welcome everyone to come; <span class='text-large text-blue'>no</span> previous programing experiences required!
      </p>
      <p>
        A glimpse of what we will discuss can be found in <em class='text-large text-blue'><a href="http://104.237.144.150/static/uploaded/item_images/Build%20a%20Website.pdf" style='text-decoration:underline;'>This PDF</a></em>
      </p>
    </div>

    <div style='padding:10px;'>
      <div style='display:inline-block' auto-expand data='name' min-size="20" init-width="180px">
        <div>
          <span>Your name</span>
        </div>
        <div>
          <input type="text" ng-model="name" style='font-size:20px;line-height:30px;'
              placeholder="Bill Gates" required>
        </div>
      </div>
      <div style='display:inline-block' auto-expand data='email' min-size="20" init-width="250px">
        <div>
          <span>Your email</span>
        </div>
        <div>
          <input type="text" ng-model="email" style='font-size:20px;line-height:30px;'
              placeholder="me@stonybrook.edu" required>
        </div>
      </div>
      
      <input-dropdown data='is_comming' label="'Will you come? (Click to select)'" choices="['Yes', 'No', 'Maybe']" style='display:inline-block'>
      </input-dropdown>

      
      <div layout='row' layout-align='start'>
        <div class='button button-small button-blue' ng-click="submit()">
          Submit
        </div>
      </div>
    </div>

  </form>
  
  <div style='padding:20px;'>
    {% verbatim %}
        
    <div class='text-large'>
      We have received the following responses <span ng-repeat="(decision, count) in statistics" ng-bind="count" class="tag tag-large text-bold" ng-bind="attendant.name"
        tooltip="{{decision}}"
        ng-click="filter(decision)"
        ng-class='{"tag-blue": decision == "Yes", "tag-red": decision == "No", "tag-gray": decision == "Maybe"}'></span>&nbsp;
        <span class='tag tag-small tag-gray' style='border-radius:5px;'
            ng-show='layout.filter != "" '
            ng-click="layout.filter = ''">
          Show all
        </span>
    </div>
    {% endverbatim %}
    <br/>
    {% for attendant in attendants %}
    <span ng-show="layout.filter == '{{attendant.is_comming}}' || layout.filter == ''" class="tag tag-large text-bold
        {% if attendant.is_comming == 'Yes' %}
        tag-blue
        {% elif attendant.is_comming == 'Maybe' %}
        tag-gray
        {% elif attendant.is_comming == 'No' %}
        tag-red
        {% endif %}
        ">
      {{ attendant.name }}
    </span>
    {% endfor %}
    <span ng-cloak ng-repeat="attendant in new_attendants" class="tag tag-large text-bold" ng-bind="attendant.name"
        ng-show="layout.filter == attendant.is_comming || layout.filter == ''"
        ng-class='{"tag-blue": attendant.is_comming == "Yes", "tag-red": attendant.is_comming == "No", "tag-gray": attendant.is_comming == "Maybe"}'>
    </span>
  </div>
</div>

{% endblock content %}