{% extends "layout.html" %}

{% block content %}

<style>
  [name='activitySignUpForm']{
    background: #fff;padding: 40px 20px 20px 20px;border: 1px solid #ddd
  }
  [name='activitySignUpForm'] tags-input.custom .host{
    cursor: pointer;
  }
</style>
<div ng-controller="activitySignUpCtrl"
    ng-init="date='{{date|date:'Y-m-d'}}';activity = '{{activity}}'">
  <form name='activitySignUpForm' action="">
    <div reduced-padding>
      <div class='text-gray'>
        <!-- A beginners' guide to -->
        A weekly event
      </div>
      <div style='border-bottom:2px solid #aaa;'
          layout='row' layout-sm='column' layout-align='space-between center'>
        <div class='text-blue' style='font-size:40px;font-weight:600;'>
          {{activity}}
        </div>
        <div style="font-size:20px;">
          Sign up for the upcoming event!
        </div>
      </div>
    </div>


    <div style='background:#f4f4f4;padding:10px;border-bottom:1px solid #ccc;'>
      <p><span class='text-large text-blue'>Hi there!</span></p>
      <p>
        The <span class='text-large text-blue'>{{date|date:"M d"}}</span> event will take place at <span class='text-large text-blue'>5:30</span> pm in <span class='text-large text-blue'>SAC 303</span>. We welcome everyone to come!
      </p>
    </div>

    <div style='padding:20px 10px;'>
      <div style='display:inline-block' auto-expand data='name' min-size="20" init-width="180px">
        <div class="text-light-gray">
          <span>Your name</span>
        </div>
        <div>
          <input type="text" ng-model="name" name="name" style='font-size:20px;line-height:30px;'
              placeholder="Bill Gates" required>
        </div>
      </div>

      <div style='display:inline-block' auto-expand data='email' min-size="20" init-width="250px">
        <div class="text-light-gray">
          <span>Your email</span>
        </div>
        <div>
          <input type="email" name="email" ng-model="email" style='font-size:20px;line-height:30px;'
              placeholder="me@stonybrook.edu" required>
        </div>
      </div>
      
      <input-dropdown data='is_comming' label="'Will you come? (Click to select)'" choices="['Yes', 'No', 'Maybe']" style='display:inline-block'>
      </input-dropdown>

      <br/>
      <br/>

      <div class='text-large text-light-gray'>Optional (it would be very helpful if you could fill in the info)</div>

      <div style='display:inline-block' auto-expand data='department'
          min-size="20" init-width="250px">
        <div class='text-light-gray'>
          <span>Which department are you from? (optional)</span>
        </div>
        <div>
          <input type="text" style='font-size:20px;line-height:30px;'
              ng-model="department" name="department"
              placeholder="AMS, Physics, etc." required>
        </div>
      </div>

      <input-dropdown data='level' label="'Are you a grad or undergrad? (optional)'" choices="['Inapplicable', 'Grad student', 'Undergrad']" style='display:inline-block'>
      </input-dropdown>
      <br/>
      <br/>
      <div auto-expand data='department'
          min-size="20" init-width="250px">
        <div class='text-light-gray'>
          <span>What topics would you be interested in? Add yours if they are not in the list! (optional)</span>
        </div>
        <div>
          <tags-input class="custom" ng-model="interested_in_fields_tags"
              placeholder="Enter your interested topics">
            <auto-complete source="load_fields()"
                load-on-empty="true" load-on-down-arrow="true"
                load-on-focus="true">
            </auto-complete>
          </tags-input>
        </div>
      </div>

      <br/>
      <br/>
      
      <div layout='row' layout-align='start'>
        <div class='button button-small'
            ng-class="{'button-blue': !layout.submited, 'button-gray': layout.submited}"
            ng-disabled="layout.submited"
            ng-click="submit()">
          Submit
        </div>
      </div>
    </div>

  </form>
  
  <div style='padding:20px;'>
    {% verbatim %}
        
    <div class='text-large'>
      We have received the following responses <span ng-repeat="(decision, count) in statistics" ng-bind="count" class="tag tag-large text-bold" ng-bind="attendant.name"
        tooltip="{{decision}}"
        ng-click="filter(decision)"
        ng-class='{"tag-blue": decision == "Yes", "tag-red": decision == "No", "tag-gray": decision == "Maybe"}'></span>&nbsp;
        <span class='tag tag-small tag-gray' style='border-radius:5px;'
            ng-show='layout.filter != "" '
            ng-click="layout.filter = ''">
          Show all
        </span>
    </div>
    {% endverbatim %}
    <br/>
    <div>
      {% for attendant in attendants %}
      <span ng-show="layout.filter == '{{attendant.is_comming}}' || layout.filter == ''" class="tag tag-large text-bold
          {% if attendant.is_comming == 'Yes' %}
          tag-blue
          {% elif attendant.is_comming == 'Maybe' %}
          tag-gray
          {% elif attendant.is_comming == 'No' %}
          tag-red
          {% endif %}
          ">
        {{ attendant.name }} {% if attendant.department %}| {{ attendant.department }} {% endif %}
      </span>
      {% endfor %}
    </div>
    <div>
      <span ng-cloak class="tag tag-large text-bold"
          ng-repeat="attendant in new_attendants" 
          ng-show="layout.filter == attendant.is_comming || layout.filter == ''"
          ng-class='{"tag-blue": attendant.is_comming == "Yes", "tag-red": attendant.is_comming == "No", "tag-gray": attendant.is_comming == "Maybe"}'>
          <bind ng-bind="attendant.name"></bind> <bind ng-if="attendant.department">|</bind> <bind ng-if="attendant.department" ng-bind="attendant.department"></bind>
      </span>
    </div>
    <br/>
    <div>
      <div class="text-large">Topics that our attendants find interesting</div>
    </div>
    <div style="80%" id="fields">
      <jqcloud words="fields" height="300" steps="10"></jqcloud>
    </div>
  </div>


</div>

{% endblock content %}