{% extends 'layout.html'%}

{% block content %}
{% load filters %}

<style>

  .tag.tag-gray.selected{
    background-color: #4889F0;color: #fff;
  }

  .item-thumbnail{
    width:250px;height:200px;
    background:#eee;border:2px solid #ddd;
    overflow:hidden;cursor:pointer;
  }
  .item-thumbnail.selected{
    border-color: #4184F3;
  }
  .item-thumbnail:hover{
    border: 2px solid #4184F3;
  }
  .item-thumbnail-title{
    text-align:center;color:#666;font-weight:600;font-size:16px;
    margin:5px 0px;cursor: pointer; 
  }
  .sidebar-secondary{
    left:100px;top:0px;height:100%;
    background:#fff;padding:20px;box-shadow: none;
    border-left:1px solid #ddd;border-top:none;
    position: absolute;
  }

</style>

<div id='collection-wrapper' ng-controller="collectionCtrl"
    layout='row' layout-align='end'>
  <div flex-gt-md="80" flex="100">



    <!-- side bar -->
    {% include 'pages/components/sidebar-collection.html' %}

    <!-- Item list -->
    <div id='items-display'
        infinite-scroll="load_items()" infinite-scroll-distance="1"
        infinite-scroll-disabled="layout.loading.items || scrollTop < 50" >

      <div layout='row'>
        <div flex="10"></div>
        <div reduced-padding>
          <div class="section-title-large">
            Your Collection
          </div>
          <div class='text-gray'>
            <i class='fa fa-info-circle'></i>&nbsp;Updating images is easy: just <span class='text-large'>drag&drop</span> your photo onto your items! Or click the <i class='fa fa-camera'></i> for more options.
          </div>
        </div>
      </div>

      <br/>


      <!-- Item thumbnail list -->
      {% verbatim %}
      <div ng-show="layout.view_mode == 'thumbnail' && !layout.show_items_search_results"
        layout='row'>
        <div flex-sm="0" flex="10"></div>
        <div ng-cloak
            flex-gt-lg="80" flex-gt-md="80" flex-md="80" flex-sm="100">

          <item-thumbnail style='display:inline-block;margin:20px;'
              item="item"
              ng-repeat="item in items"
              ng-show="(item.available == layout.filter_available) || layout.filter_available == ''">
          </item-thumbnail>

        </div>
      </div>
      {% endverbatim %}

      <!-- Item detail list -->
      <div layout='row'
          ng-show="!layout.show_items_search_results && layout.view_mode == 'detail'">
        <div flex-sm="0" flex="10"></div>
        <div flex-gt-lg="70" flex-gt-md="80" flex-md="80" flex-sm="100">
          <item-editor-lite item="item" ng-repeat="item in items"
              ng-show="(item.available == layout.filter_available) || layout.filter_available == ''">
          </item-editor-lite>
        </div>
      </div>


      <!-- Item printable list -->
      <div layout='row'>
        <div flex-sm="0" flex="10"></div>
        <div ng-show="!layout.show_items_search_results && layout.view_mode == 'printable'">
          <div style='border:1px solid #999;background:#fff;padding:10px;margin-top:10px;margin-bottom:10px;'
              ng-repeat="item in items"
              ng-show="(item.available == layout.filter_available) || layout.filter_available == ''">
            <div ng-bind="item.title" class="text-large"></div>
            <div ng-repeat="field_type in customized_fields">
              <div ng-repeat="field in item[field_type]|orderBy: 'title' "
                  style='display:inline-block;padding:10px;'
                  reduced-padding>
                <div ng-bind="field.title || 'No title'" class='text-gray'></div>
                <div class="text-bold"
                    ng-if="field.model_name != 'CustomizedDateField'"
                    ng-bind="field.value || 'No val'"></div>
                <div class="text-bold"
                    ng-if="field.model_name == 'CustomizedDateField'"
                    ng-bind="field.value|date: 'MM-dd-yyyy'"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Search result -->
      <div ng-show="layout.show_items_search_results && layout.view_mode == 'detail'" layout='row'>

        <div flex-sm="0" flex-md="0" flex="10"></div>
        <div flex-gt-lg="70" flex-gt-md="80" flex-md="100" flex-sm="100">
          <div ng-cloak ng-show="layout.search_result_not_found">
            <div class='text-large'>
              No item found with the criteria.
            </div>
          </div>
          <item-editor-lite item='item'
              ng-repeat="item in items_search_results |orderBy: 'order_by_value'"
              ng-show="(item.available == layout.filter_available) || layout.filter_available == ''">
          </item-editor-lite>
        </div>
      </div>


      <div ng-show="layout.show_items_search_results && layout.view_mode == 'thumbnail'" layout='row'>

        <div flex-sm="0" flex-md="0" flex="10"></div>
        <div flex-gt-lg="70" flex-gt-md="80" flex-md="100" flex-sm="100">
          <div ng-cloak ng-show="layout.search_result_not_found">
            <div class='text-large'>
              No item found with the criteria.
            </div>
          </div>

          <item-thumbnail style='display:inline-block;margin:20px;'
              item="item"
              ng-repeat="item in items_search_results | orderBy: 'order_by_value'"
              ng-show="(item.available == layout.filter_available) || layout.filter_available == ''">
          </item-thumbnail>

        </div>
      </div>

      <div ng-show="layout.show_items_search_results && layout.view_mode == 'printable'" layout='row'
          ng-cloak>

        <div flex-sm="0" flex-md="0" flex="10"></div>
        <div flex-gt-lg="70" flex-gt-md="80" flex-md="100" flex-sm="100">
          <div ng-cloak ng-show="layout.search_result_not_found">
            <div class='text-large'>
              No item found with the criteria.
            </div>
          </div>

          <div style='border:1px solid #999;background:#fff;padding:10px;margin-top:10px;margin-bottom:10px;'
              ng-repeat="item in items_search_results | orderBy: 'order_by_value'"
              ng-show="(item.available == layout.filter_available) || layout.filter_available == ''">
            <div ng-bind="item.title" class="text-large"></div>
            <div ng-repeat="field_type in customized_fields">
              <div ng-repeat="field in item[field_type]|orderBy: 'title' "
                  style='display:inline-block;padding:10px;'
                  reduced-padding>
                <div ng-bind="field.title" class='text-gray'></div>
                <div class="text-bold"
                    ng-if="field.model_name != 'CustomizedDateField'"
                    ng-bind="field.value"></div>
                <div class="text-bold"
                    ng-if="field.model_name == 'CustomizedDateField'"
                    ng-bind="field.value|date: 'MM-dd-yyyy'"></div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>

    
  </div>
</div>

{% endblock %}