{% extends 'layout.html'%}

{% block content %}
{% load filters %}
<div id='dashboard-wrapper' ng-controller="DashBoardCtrl"
    ng-init="numOfPosts='{{ numOfPosts }}';
             feed_starts = {{ feed_starts }}"
    layout='row' layout-align='end'>
  
  <!-- Side navigation bar -->
  {% include 'pages/components/sidebar.html'%}
  <!-- END: Side navigation bar -->
  
  <div flex-gt-md="80">
    <!-- Main interface -->
    <!-- Create item and post button -->
    <div trigger style='position:fixed;top:100px;right:20px;z-index:1'>
      <md-button class="md-fab" aria-label="New document"
          ng-click="create_item()">
        <i class="fa fa-plus" style='font-size:20px;line-height:50px;'></i>
      </md-button>
      &nbsp;
      <a href="/app/post/">
        <md-button class="md-fab" aria-label="New document">
          <i class="fa fa-align-left" style='font-size:20px;line-height:50px;'></i>
        </md-button>
      </a>
    </div>

    <!-- Welcome message -->
    <div layout='row' layout-sm='column' layout-align='start center'>
      <div class='section-title section-title-exlarge'>Welcome,
      {{ request.user.profile.all.last.name }}
      </div>
    </div>

    <!-- News Feed section -->
    <div ng-show="layout.display_tab == 'feeds'"
        infinite-scroll="load_feeds()" infinite-scroll-distance="1"
        infinite-scroll-disabled="layout.display_tab !='feeds' || layout.loading.feeds || scrollTop < 600">
      <div infinit  flex-gt-md="90" flex>
      {% for record in feeds %}
      {%   with post=record%}
      {%     if post|model_name == 'Post' %}
        <div layout='row' class="event">
          <div class="event-header time"
              layout='row' layout-align='end'
              flex='20'>
            {{ post.time_posted }}
          </div>
          <div class="event-header content" flex>
      {%       include 'pages/components/post-overview.html'%}
          </div>
        </div>
      {%     endif %}
      {%   endwith %}
      {%   with event=record %}
      {%     if event|model_name == 'ItemEditRecord' %}
      {%       include 'pages/components/item-update.html' %}
      {%     endif %}
      {%   endwith%}
      {%   with item=record %}
      {%     if item|model_name == "Item" %}
        <div class='event' layout='row'>
          <div class='event-header time'
              layout='row' layout-align='end'
              flex='20'>
            {{ item.time_updated }}
          </div>
          <div class='event-header content' flex>
            <div class='text-bold'>
              <img height=40 src="{{ item.owner.photo }}" style='vertical-align:middle'>
              &nbsp;&nbsp;{{ item.owner }} added a new item
            </div>
      {%       include 'pages/components/search-item-overview.html' %}
          </div>
        </div>
      {%     endif %}
      {%   endwith %}
      {% endfor %}
        <div ng-repeat="record in feeds">
          <div>
            <switch ng-switch on="record.type">
              <div ng-switch-when="Post" ng-init="post=record">
                <post-overview></post-overview>
              </div>
              <div ng-switch-when="Item" ng-init="item=record">
                <angular-item-overview>
                </angular-item-overview>
              </div>
              <div ng-switch-when="Item">
                <div ng-init="event=record">
                  
                </div>
              </div>
            </switch>
          </div>
        </div>
      </div>
      
    </div>

    <!-- timeline -->
    <div ng-show='layout.display_tab == "updates" '>
      {% for event in timeline %}
        <div>
          {% include 'pages/components/timeline.html' %}
        </div>
      {% endfor %}
    </div>

    <!-- Post list -->
    <div infinite-scroll="load_posts()" infinite-scroll-distance="1"
        infinite-scroll-disabled="layout.display_tab !='posts' || layout.loading.posts || scrollTop < 600"
        ng-show="layout.display_tab == 'posts'" layout='row'>
      <div flex-gt-md="80" flex>
      {% for post in posts %}
        <div>
        {% include 'pages/components/post-overview.html'%}
        </div>
      {% endfor %}
        <div ng-repeat="post in posts">
          <post-overview></post-overview>
        </div>
      </div>
    </div>

    <!-- Item list -->
    <div ng-show='layout.display_tab == "items" '>
      <div class="section-title-large">
        Your inventory
      </div>

      <div id='items-display' layout='column' layout-gt-md='row'>
        <div flex-gt-md="50" flex='100'>
          <dashboard-item-overview
            ng-repeat='item in items' ng-show="$even">
          </dashboard-item-overview>
        </div>
        <div flex-gt-md="50" flex='100'>
          <div ng-repeat='item in items' ng-show="$odd">
            <div ng-bind="item.title"></div>
            <dashboard-item-overview></dashboard-item-overview>
          </div>
        </div>
      </div>
      <div layout='row' layout-align='center'>
        <div class="button pagination" ng-click="items.prev_page()">Previous</div>
        <div class="button pagination" ng-click="items.next_page()">Next</div>
      </div>
    </div>

    
  </div>
</div>

{% endblock %}