{% extends 'layout.html' %}

{% block content %}
<style type="text/css">
  
  .donation-forms-wrapper{
    background: #fff;padding:20px;box-shadow: 0px 3px 8px #ccc;
  }
  .donation-forms-wrapper tags-input.custom .host{
    max-width: none;
  }
  .donation-forms-wrapper tags-input.custom input{
    font-size:18px;min-width: 190px;height: 40px;
  }
  .donation-forms-wrapper tags-input.custom .tags .tag-item{
    height: 40px;font-size: 18px;padding-left: 10px;padding-right: 10px;
    line-height: 40px;
  }
  .donation-forms-wrapper input{
    width:auto;
  }
  .tab {
      background: #f4f4f4;height:40px;
      cursor: pointer;font-weight: 600;
      min-width:120px;padding: 0px 15px;
      border-bottom:2px solid #fb0;
      transition:all 0.2s;
      -webkit-transition:all 0.2s;
  }
  .tab:hover{
      background: #ddd;
  }
  .tab.active{
      background: #fb0;color: #fff;
      border-color: #fb0;
  }
  
  .tab-content{
    border-right: 2px solid #fb0;
    border-left: 2px solid #fb0;
    border-bottom: 2px solid #fb0;
    padding: 0px 20px;
  }



</style>
<div style="padding:40px;min-height: 600px;">
  <div layout='row' layout-align='center'>
    <div class='section-title section-title-large'>
      Donating to Setauket Presbyterian Churchyard and Cemetery
    </div>
  </div>

  <div flex layout='row' layout-align='center'
      ng-controller="donationsCtrl"
      ng-init="collector_uid = '{{collector_uid}}'">
    
    <div class='donation-forms-wrapper' flex-gt-md="80" flex="100">

      <step-one>
        <div class='text-xlarge'>Step One</div>
        <div class='text-large text-light-gray'>Enter and list the items you intend to donate</div>
        <div flex>
          <tags-input class='custom long' ng-model='items_tag' placeholder="Type your items' name">
          </tags-input>
        </div>
      </step-one>

      <br/>
      <!-- Step Two -->
      <step-two ng-cloak ng-show="step_one_done">
        <div class='text-xlarge'>Step Two</div>
        <div class='text-large text-light-gray'>
          Further details: it will be very helpful if you could provide more detail of your items.
        </div>
        <div>
          <i class='fa fa-info-circle'></i>&nbsp;&nbsp;Click each tab to enter further information, and upload an <b>image</b> for the item if you have one.
        </div>
        <br/>
        
        <!-- TABS -->
        <div class="tabs" layout='row' layout-align='start'
            hide-sm>
          <div class='tab' layout='row' layout-align='center center'
              ng-repeat="item in items"
              ng-class="{'active': layout.display_tab == $index}"
              ng-click='layout.display_tab = $index'>
            <div ng-bind="item.title"></div>
          </div>
          <div flex style='border-bottom:2px solid #fb0;'></div>
        </div>
        
        <!-- Forms -->
        <div class='tab-content'>
          <form class='item-detail-form'
              ng-show='layout.display_tab == ($index)'
              ng-repeat="item in items">
            <br/>
            <span style="padding:10px;" auto-expand init-width="140px" data="item.title" min-size=15>
              <div>Name of the item</div>
              <input style='font-size:22px;' type="text"
                  ng-model="item.title">
            </span>
            <br/>

            <br/>
            <div layout='row' layout-align='start center'>
              <input-num num='item.quantity' label="How many?">
              </input-num>
              <input-num num='item.customized_num_fields[0].value'
                  label="Age of the item (year)">
              </input-num>
              <div>
                <input-dropdown label="'Condition'" flex style='margin-left:10px;margin-right:10px;display:inline-block'
                  choices="item.condition_choices" data='item.condition'>
                </input-dropdown>
              </div>
              <div>
                <input-dropdown label="'Use frequency'" flex style='margin-left:10px;margin-right:10px;display:inline-block'
                  choices="item.utilization_choices" data='item.utilization'>
                </input-dropdown>
              </div>
              <span style="padding:10px;" auto-expand init-width="140px" data="item.size"
                  min-size=15>
                <div>Size</div>
                <input style='font-size:18px;' type="text"
                    ng-model="item.size">
              </span>
            </div>

            <!-- Further Detail -->
            <div style='color:#666'>
              You can further describe the item below
            </div>
            <textarea ng-model='item.description'
                style='border:1px solid #ccc;'>
            </textarea>
          </form>

        <br/><br/>
        </div>

      </step-two>
      
      <br/>
      <step-three>
        <div class='text-xlarge'>Your contact information</div>
        <form name='contactForm'>
          <span style="padding:10px;display:inline-block" auto-expand init-width="180px"
              data="customized_char_fields[0].value"
              min-size=20>
            <div>Your name</div>
            <input style='font-size:22px;' placeholder="2-30 characters"
                type="text" ng-model="customized_char_fields[0].value"
                ng-minlength=2 ng-maxlength=30 required>
          </span>
          <span style="padding:10px;display:inline-block" auto-expand init-width="240px"
              data="customized_char_fields[1].value"
              min-size=20>
            <div>Where can we pick up the item?</div>
            <input style='font-size:22px;'
                placeholder="City name or zip code"
                type="text" ng-model="customized_char_fields[1].value"
                required ng-minlength=5>
          </span>
          <span style="padding:10px;display:inline-block" auto-expand init-width="200px"
              data="customized_char_fields[2].value"
              min-size=20>
            <div>Your Phone number</div>
            <input style='font-size:22px;'
                placeholder="e.g. (631)XXX-XXXX"
                type="text" ng-model="customized_char_fields[2].value">
          </span>
          <span style="padding:10px;display:inline-block" auto-expand init-width="200px"
              data="customized_char_fields[3].value"
              min-size=20>
            <div>Or email address</div>
            <input style='font-size:22px;'
                type="email" ng-model="customized_char_fields[3]['value']">
          </span>
        </form>
      </step-three>

      <div layout='row' layout-align='end'>
        <div class='button button-small button-gray' ng-click="submit()">
          <i class="fa fa-send"></i>&nbsp;Submit
        </div>
      </div>

    </div>

  </div>

</div>
{% endblock content %}