{% extends 'layout.html' %}

{% block content %}
  {% load staticfiles %}
  <div flex style='background-image: url("{% static "app/images/bg.jpg" %}");height:750px;'>
    <div layout='row'>
      <div flex-gt-md='10'></div>
      <div style='color:#aaa' flex>
        <div style='height:100px;'></div>
        <div style='font-size:18px;text-shadow: 0px 0px 10px #000;'>
          Purchased, put aside, forgotten and gone forever?
        </div>
        <div style='font-size: 35px;text-shadow: 0px 0px 10px #000;'>
          No. They might deserve better
        </div>
        <div style='font-size: 50px;border-top: 2px solid #aaa;color:#fff;margin-top:20px;padding-top:10px;text-shadow: 0px 0px 10px #000;'>
          Document, review, share and trade your belongings
        </div>
        <div style='font-size:18px;text-align:center;margin-top:10px;text-shadow: 0px 0px 8px #000;'>
          as they accompany you through time and space.
        </div>
      </div>
      <div flex-gt-md="10">
      </div>
    </div>
    <br/>
    <div layout='row' layout-align='center'>

      <form id='search-form'
          class="search-form index-search-form" name='search-form'
          action="/app/search/"
          style=' padding:30px;background-color:rgba(0,0,0,0.6);'>
          <div style='color: #ccc;'><a href="/app/user/signup/"><b style='font-size:20px;'>Sign up</b></a> now, or start <b style='font-size:20px;'>Searching</b></div>
          <div layout-gt-md='row' layout='column' >

            <!-- Search inputs -->
            <div style='margin:20px 40px;'>
              <div style='width:100%'>
                <input type='text' name='q' placeholder='Search products, posts, owners, etc.'
                style='width:400px;color:#fff;'
                ng-model="q">
              </div>
              <br/>
              <div layout='row' style='width:100%'>
                <div layout='column' layout-align='center'>
                  <div>
                    <i class="fa fa-map-marker"
                        style='font-size:20px;color:#fff;'>
                    </i>
                  </div>
                </div>
                &nbsp;
                <div style='width:100%'>
                  <tags-input class='custom' ng-model="areas_tags"
                      allowed-tags-pattern="^\d{5}$"
                      placeholder="Areas zip codes, separated by comma">
                  </tags-input>
                </div>
              </div>
              <br/>
              <div layout='row' style='width:100%'>
                <div layout='column' layout-align='center'>
                  <div>
                    <i class="fa fa-tags"
                        style='font-size:20px;color:#fff;'>
                    </i>
                  </div>
                </div>
                &nbsp;
                <div flex>
                  <tags-input class='custom long' 
                    ng-model="tags_tags"
                    allowed-tags-pattern="^[a-zA-Z0-9_\-]+$"
                    placeholder="Tags to refine search">
                  </tags-input>
                </div>
              </div>
              <input type='text' name='areas' style='display:none'>
              <input type='text' name='tags' style='display:none'>
              &nbsp;&nbsp;&nbsp;&nbsp;
              <div layout='row' layout-align='start center'>
                <div>
                  <i class='fa fa-key' style='font-size:20px;color:#fff;'></i>
                  <input type='text' name='secret_key'
                      ng-model="secret_key"
                      placeholder='Got secret key? Enter here!'
                      style='width:200px;color:#fff;'>
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <div class='button button-small button-gray' type="submit"
                    ng-click="search()">
                  <i class='fa fa-search'></i>&nbsp;Go search
                </div>
              </div>
            </div>
            <!-- Browse button -->
            <div style='color: #ccc;text-align:center;margin:20px 40px;'>
              Or just &nbsp;&nbsp;
              <br/><br/>
              <a href="/app/search/?q=">
                <div class='button button-small' style='border:1px solid #ddd;background:rgba(255,255,255,0.2);width:200px;padding:10px;'>
                  <div><b style='font-size:24px;'>Browse</b></div>
                  <div style='font-size:18px;'>all recent posts.</div>
                </div>
              </a>
            </div>
          </div>
      </form>
    </div>
  </div>

  <div>
  </div>

  <div style='padding:40px 0px;font-size: 16px;line-height:24px;'>

    <div layout='row' layout-align='center'>
      <div class='section-title section-title-xlarge'>
        How <span class='text-blue'>WorldSheet</span> works
      </div>
    </div>
    <br/>

    <div layout-gt-md="row" layout='column' layout-align='center'>
      <div flex-gt-md="40" flex="100" layout="column" layout-align='center'>
        <div class='section-title section-title-large'>
          <span class="glyphicon glyphicon-time"></span> &nbsp;Timeline for anything
        </div>
        <div class='text-light-gray'>
          Build <span style='font-size:22px;font-weight:600;'>Timelines</span> for your cars, pets, products, anything. Keep records of how they change, grow and perform, moments you enjoy with them, or anything you want to keep track of.
        </div>
        <br/>
        <br/>
      </div>
      <div flex-gt-md="40" flex="100">
        <div layout="column" layout-align="center center" style="padding:40px 0px;">
          <img src="{% static 'app/images/intro-log.png'%}">
        </div>
      </div>
    </div>

    <div layout='row' layout-align='center' style='background: #C1E0F5;'>
      <div flex-gt-md="80" flex="100" layout-gt-md="row" layout='column' layout-align='center'>
        <div flex-gt-md="40" flex="100" layout='column' layout-align='start center' style="padding:40px 0px;">
          <img src="{% static 'app/images/intro-write.png'%}" style='width:400px;'>
        </div>
        <div>
          <div hide-md hide-sm>
            <img src="{% static 'app/images/inverse-l.png'%}">
          </div>
          <div flex='100' style='padding:20px 40px;'>
            <div class='section-title section-title-large'>
              <span class="glyphicon glyphicon-pencil"></span>
              &nbsp;Write about it
            </div>
            <div class='text-gray'>
              Write posts to share, sell, review, or just jot down anything about your belongings, pets, plants or products.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div style='background: #f4f4f4;padding:20px 20px;'
        layout='row' layout-align='center'>
      <div layout-gt-md="row" layout='column' layout-align='center'
          flex-gt-md="80" flex="100">
        <div flex-gt-md="40" flex="100">
          <img hide-sm hide-md src="{% static 'app/images/l.png'%}" alt="">
          <div class='section-title section-title-large'>
            <span class='glyphicon glyphicon-search'></span>&nbsp;Search and discover
          </div>
          <div class='text-light-gray'>
            Just <span style='font-size:22px;font-weight:600;'>search</span> for stuffs that you are interested in. Discover posts of sale, freebies or reviews of products, check out the timeline of items that are publicly viewable set by their generous owners.
          </div>
          <br/>
          <div class="text-light-gray">
            With a click of button, <span style='font-size:22px;font-weight:600;'>follow</span> areas to view new posts and updates from those areas, right in your dashboard. Stay tune with your neighboring community!
          </div>
        </div>
        <div flex="40" layout='column' layout-align='center center'>
          <img src="{% static 'app/images/follow.png'%}" style='width:300px;'>
        </div>
      </div>
    </div>
    
    <div layout-gt-md="row" layout='column' layout-align='center'
        style='padding:20px;background:#fff;'>
      <div flex-gt-md="40" flex="100" layout="column" layout-align='center'>
        <div class='section-title section-title-large'>
          <span class='glyphicon glyphicon-transfer'></span> &nbsp;Share, transfer, enjoy.
        </div>
        <div class='text-light-gray'>
          The age of Internet is the age of <span style='font-size:22px;font-weight:600;'>sharing</span>.
        </div>
        <br/>
        <div class='text-light-gray'>
          Items that are set to be <b>public viewable</b> and <b>available</b> can be searched by other users. We encourage to <span style='font-size:22px;font-weight:600;'>share</span> or (even more generously) <span style='font-size:22px;font-weight:600;'>give</span> your idle or no-longer-needed items to people in need.
        </div>
        <br/>
        <div class='text-light-gray'>But of course you are also welcome to post items for <span style='font-size:22px;font-weight:600;'>sale</span> too.</div>
        <br/>
        <div class='text-light-gray'>
          Send <span style="font-size:22px;font-weight:600;">requests</span> to the owners when you see <b>available</b> items you need in public posts by the owners.
        </div>
        <br/>
        <div class='text-light-gray'>
          We encourage the owners to also keep a record of the item-transfer, using the <span style="font-size:22px;font-weight:600;">transfer button <span class='glyphicon glyphicon-transfer'></span></span>. Soon you will be able to follow the footstep of your item on its <span style='font-size:22px;font-weight:600;'>timeline</span>, as it adventures through the human world.
        </div>
      </div>
      <div flex-gt-md="40" flex="100">
        <div layout="column" layout-align="center center">
          <img src="{% static 'app/images/map.png'%}">
        </div>
      </div>
    </div>
  </div>
{% endblock %}