{% extends 'layout.html'%}

{% block content %}

<style>
  .item-timeline-wrapper{
    padding: 40px 20px;
  }
  .button-gray.displaying{
      background-color: #4889F0;color: #fff;
  }
</style>

<div class='item-timeline-wrapper' ng-controller='itemTimelineCtrl'
    layout-gt-md='row' layout='column'
    ng-init="init_starts = {{init_starts}};item_id='{{ item.id }}'">

  <!-- Left panel -->
  <div reduced-padding flex-gt-md="30" flex="100">
    <div class='section-title section-title-large text-light-gray'>
      <i class='fa fa-clock-o'></i>&nbsp;Timeline
    </div>
    <div class='section-title section-title-xlarge'>
      {{ item.title }}
    </div>
    <!-- current owner -->
    <a href="/app/user/?user_id={{ item.owner.uid }}">

    <div style='padding:0px 20px;' layout="row" layout-align='start center'>
      <img src="{{ item.owner.photo }}" alt="" height=45>
      &nbsp;&nbsp;
      <div>
        <div class="text-light-gray">owner</div>
        <div class='text-large'>{{item.owner.name}}</div>
      </div>
    </div>
    </a>
    <!-- Previous owners -->
    

    <!-- Available records -->
    <br/>
    <div style='padding:20px 20px;background:#fff;border:1px solid #ddd;'>
      <div class='text-large'>Active Records</div>
      <br/>

      <div><b>Numerics</b></div>
      <div style='margin-top:10px;'>
        {% for field in item.customized_num_fields.all %}
        <span class="button button-small button-gray"
            ng-class='{"displaying": is_displaying("{{field.title}}")}'
            ng-click='add_field("{{field.title}}")'>
          {{field.title}}
        </span>
        {% empty %}
        <span>No customized numeric record</span>
        {% endfor %}
      </div>
      <br/>

      <div><b>Texts</b></div>
      <div style='margin-top:10px;'>
        {% for field in item.customized_char_fields.all %}
        <span class="button button-small button-gray" style='margin-top:5px;margin-bottom:5px;display:inline-block'
            ng-class='{"displaying": is_displaying("{{field.title}}")}'
            ng-click='add_field("{{field.title}}")'>{{field.title}}</span>
        {% empty %}
        <span>No customized text record</span>
        {% endfor %}
      </div>

      <div layout='row' layout-align='end'>
        <div class='button button-small button-blue'
            ng-click="clear()">
          Clear
        </div>
      </div>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <div id="disqus_thread"></div>
       <script type="text/javascript">
           /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
           var disqus_shortname = 'worldsheet'; // required: replace example with your forum shortname

           /* * * DON'T EDIT BELOW THIS LINE * * */
           (function() {
               var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
               dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
               (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
           })();
       </script>
       <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
       
  </div>


  <!-- ======== right panel ======== -->
  <div infinite-scroll="load_timeline()" infinite-scroll-distance="1"
      infinite-scroll-disabled="layout.loading.timeline || scrollTop < 200"
      flex-gt-md="70" flex-md="80" flex>

    <!-- ==== The item at the present ==== -->
    <div layout='row' flex-gt-md="90" flex="100">
      <div hide-sm flex-gt-md='20' flex="15" style='margin-top:20px;text-align:right'>
        <br/>
        <div class='text-large' style='color:#666'>
          Present
        </div>
      </div>
      <div ng-cloak class='post-container' layout='row' flex>
        {% include 'pages/components/django-item-overview.html' %}
      </div>
    </div>

    <!-- ==== Updates of specific fields ==== -->
    <!-- <div ng-show="layout.display_section == 'field-records' ">
      <div ng-repeat="event in field_records">
        <div layout='row' flex-gt-md="90">
          <div style='margin-top:20px;text-align:right'
              flex-gt-md='20' flex="15" >
            <br/>
            <div class="text-large" style='color:#666;'>
              Update
            </div>
            <div style='color:#999;'
                ng-bind="event.time_updated|date:'MMM/dd/yyyy'">
            </div>
          </div>
          <div flex>
            <angular-item-update></angular-item-update>
          </div>
        </div>
      </div>
    </div> -->

    <div ng-show="layout.display_section == 'field-records' "
        ng-repeat="(field_title, field_records) in field_records_dict" ng-cloak flex-gt-md="90" flex="100" layout='row'>


      <div style='margin-top:20px;text-align:right' flex-gt-md="20"></div>
      <div class="post-container">
        <div>
          <span class="text-large" ng-bind="field_title"></span>
          <span class="text-gray" ng-bind="field_records[field_records.length - 1].time_updated|date: 'MMM dd yyyy'"></span> - 
          <span class="text-gray" ng-bind="field_records[0].time_updated|date: 'MMM dd yyyy'">
          </span>
        </div>
        <br/>
        <div style='padding:5px;' ng-repeat="event in field_records">
          <span style='padding:10px;' class='text-light-gray'
              ng-bind="event.time_updated|date: 'MMM dd yyyy'"></span>
          <b><span style='padding:10px;' class='text-blue' ng-bind="event.new_value"></span></b>
        </div>
      </div>
    </div>

    <!-- ======== ALL Updates ======== -->
    <div ng-show="layout.display_section == 'timeline' ">
      {% for event in timeline %}
      {%  if event.model_name == 'ItemEditRecord' %}
      <div layout='row' flex-gt-md="90" flex="100">
        <div hide-sm flex-gt-md='20' flex="15" style='margin-top:20px;text-align:right'>
          <br/>
          <div class='text-large' style='color:#666'>
            {% if event.field != "creation"%}
            Update
            {% else %}
            New Item
            {% endif %}
          </div>
          <div style='color:#999'>{{ event.time_updated|date:"M/d/Y" }}</div>
        </div>
        <div ng-cloak flex>
          {% include 'pages/components/django-item-update.html' %}
        </div>
      </div>
      {%  elif event.model_name == 'ItemTransactionRecord' %}
      <div layout='row' flex-gt-md="90">
        <div hide-sm flex-gt-md='20' flex="15" style='margin-top:20px;text-align:right'>
          <br/>
          <div class='text-large' style='color:#666'>Transfer</div>
          <div style='color:#999'>{{ event.time_updated|date:"M/d/Y" }}</div>
        </div>
        <div flex>
          {% include 'pages/components/django-item-transaction.html' %}
        </div>
      </div>
      {%   endif %}
      {% endfor %}

      <div ng-repeat="record in timeline">
        <switch ng-switch on="record.model_name">

          <switch ng-switch-when="ItemEditRecord" ng-init='event=record'>
            <div layout='row' flex-gt-md="90">
              <div flex-gt-md='20' flex="15" style='margin-top:20px;text-align:right'>
                <br/>
                <div class="text-large" style='color:#666;'>
                  <if ng-if='event.field!="creation"'>
                    Update
                  </if>
                  <if ng-if="event.field=='creation'">New item</if>
                </div>
                <div style='color:#999;'
                    ng-bind="event.time_updated|date:'MMM/dd/yyyy'">
                </div>
              </div>
              <div flex>
                <angular-item-update></angular-item-update>
              </div>
            </div>
          </switch>

          <switch ng-switch-when="ItemTransactionRecord" ng-init="event=record">
            <angular-item-transaction></angular-item-transaction>
          </switch>
        </switch>
      </div>
    </div>
  </div>  
</div>

{% endblock content %}