{% block navbar %}

<style type="text/css">
  .nav-bar.non-bootstrap input{
      padding-left:0px;padding-bottom:0px;line-height:22px;
      border-color: transparent;
  }
  .nav-bar.non-bootstrap input:focus{
    border-bottom: 2px solid #eee;
  }
  .nav-bar.non-bootstrap .fa.fa-search{
    color: #999;
  }
  .nav-bar.non-bootstrap .transaction-button:hover{
    background: #f4f4f4;
  }
  #advanced-search-caret{
    padding: 5px;
  }
  #advanced-search-caret:hover{
    background: #eee;
  }
{% load filters %}
</style>
<div class='nav-bar non-bootstrap'
    layout='row' layout-align='space-between center'>
  <a href="/app/">
    <div class="logo text-large">WorldSheet</div>
  </a>

  <div class='menu text-default' layout='row' layout-align='end center'>
    <div ng-cloak >
      <!-- Search form -->
      <form id='search-form' name='search-form' action="/app/search/"
          layout='row' layout-align='center center'>
        <i class='fa fa-search'></i>&nbsp;&nbsp;&nbsp;
        <span auto-expand data="q" min-size="15" init-width="160px">
          <input type='text' placeholder='Search and hit enter.'
            ng-model="q" name='q'>
        </span>
        <!-- Dropdown advanced search panel -->
        <span drop-down-menu>
          <a id="advanced-search-caret" href drop-down-menu-trigger>
            <i class="fa fa-caret-down"></i>
          </a>
          <div drop-down-menu-target mobile-narrow
              style='position:absolute;top:50px;margin-left:-300px;padding:20px;width:450px;'>
            <div layout='row' layout-align='center center' flex>
              <i class="fa fa-map-marker"
                  style='font-size:20px;'>
              </i>
              &nbsp;&nbsp;
              <div flex>
                <tags-input class='custom' ng-model="areas_tags"
                    allowed-tags-pattern="^\d{5}$"
                    placeholder="Areas zip codes">
                </tags-input>
              </div>
            </div>
            <br/>
            <div layout='row' layout-align='center center' flex>
              <i class="fa fa-tags"
                  style='font-size:20px;'>
              </i>
              &nbsp;
              <div flex>
                <tags-input class='custom long' 
                  ng-model="tags_tags"
                  allowed-tags-pattern="^[a-zA-Z0-9_\-]+$"
                  placeholder="Tags to refine search">
                </tags-input>
              </div>
            </div>
            <input type='text' name='areas' style='display:none'>
            <input type='text' name='tags' style='display:none'>
            <br/>
            <div layout='row' layout-align='space-between center'>
              <div layout='row'>
                <i class='fa fa-key' style='font-size:20px;'></i>
                &nbsp;&nbsp;
                <input type='text' name='secret_key'
                    placeholder='Secret Key'
                    ng-model='secret_key'>
              </div>
              <div class='button button-small button-gray' type="submit"
                  ng-click="search()">
                <i class='fa fa-search'></i>&nbsp;Go search
              </div>
            </div>
          </div>
        </span>

      </form>
      
    </div>
    &nbsp;&nbsp;

    <!-- Nav buttons on the right. -->
    {% if user.is_anonymous %}
    <a href="/app/user/login/">
      <div class='menu-item'>Log in</div>
    </a>
    <a href="/app/user/signup/"><div class='menu-item'>Sign up</div></a>
    {% else %}

    {%   if request.user.pending_transactions %}
    <div drop-down-menu>
      <div drop-down-menu-trigger class="transaction-button menu-item">
        Pending Requests &nbsp; 
        <b style="padding: 3px 8px;border: 2px solid #999;border-radius: 20px;text-align: center;">{{ request.user.pending_transactions|count}}</b>
      </div>
      <div ng-cloak drop-down-menu-target style='margin-top:5px'>
        <div class='text-small option'
            style='background:#f4f4f4'>
          Pending:
        </div>
        {% for transaction in request.user.pending_transactions %}
        <div class='menu-item option'>
          {% include "pages/components/transaction.html" %}
        </div>
        {% endfor %}
      </div>
    </div>
    {%   endif %}
    <a href="/app/user/inbox/">
      <div class='menu-item' layout='row' layout-align='center center'>
        {% if request.user.received_messages.all|unread_count > 0 %}
        <i class='fa fa-envelope'></i>&nbsp;<b hide-sm>Messages</b>&nbsp;
        <b style="padding: 3px 8px;border: 2px solid #999;border-radius: 20px;text-align: center;">{{ request.user.received_messages.all|unread_count}}</b>
        {% else %}
        <i class='fa fa-envelope'></i>&nbsp;<span hide-sm>Messages</span>
        {% endif %}
      </div>
    </a>
    <a href="/app/user/collection/">
      <div class='menu-item' layout='row' layout-align='center center'>
        <i class="fa fa-th"></i>&nbsp;<span hide-sm>Collection</span>
      </div>
    </a>
    <a href="/app/user/dashboard/">
      <div class='menu-item' layout='row' layout-align='center center'>
        <i class="fa fa-tachometer"></i>&nbsp;<span hide-sm>Dashboard</span>
      </div>
    </a>
    <span class="dropdown" >
      <a href class="dropdown-toggle" dropdown-toggle layout='row' layout-align='center center'>
        <i class='fa fa-plus'></i>&nbsp;<span hide-sm>Add</span>
      </a>
      <ul class="dropdown-menu" layout='row' layout-align='center center'>
        <li>
          <a href="/app/post/"><i class='fa fa-align-left'></i>&nbsp;&nbsp;Add a post</a>
        </li>
        <li>
          <a href="/app/item/"><i class="fa fa-th"></i>&nbsp;&nbsp;Add items</a>
        </li>
      </ul>
    </span>
    <a href="/app/user/logout/">
      <div class='menu-item' layout='row' layout-align='center center'>
        <i class="fa fa-sign-out"></i>&nbsp;<span hide-sm>Log out</span>
      </div>
    </a>
    &nbsp;&nbsp;<img style="border-radius:2px" height="40"
        src={{request.user.profile.social_account_photo}} >
    {% endif %}
  </div>
</div>




{% endblock navbar %}