{% extends 'layout.html' %}

{% block content %}

<div class='post-editor' ng-controller="postCtrl" ng-cloak
    style='padding:20px;'
    {% if post.id %} ng-init="id={{ post.id }}" {% endif %}
    layout='row' layout-align='center'>
  <div flex-gt-md="80" flex>
    {% if not post %}
    <div class='section-title section-title-large'>
      <i class="fa fa-align-left"></i> &nbsp;New post
    </div>
    <br/>
    {% endif %}
    <div>
      <div class='text-small' style='color:#999'>Click to edit</div>
      <div auto-expand data='post.title' init-width="180px" min-size=1>
        <input type='text'
            style="font-size: 25px;padding-left:0px;border:none;color:#666;line-height:40px;"
            ng-model="post.title"
            ng-init="post.title = '{{post.title}}'"
            placeholder="Post title here">
      </div>
      <div>
        Area (zip code) &nbsp;
        <input type='text' ng-model="post.area" ng-init="post.area='{{ request.user.profile.all.0.primary_area}}'"
            style='width:44px;padding:0px;'>
      </div>
    </div>
    {% load markdown_deux_tags %}
    <br/>
    
    <!-- ======== Tags ======== -->

    <div flex>
      <tags-input class="custom" ng-model='tags_input'
          placeholder='Tag your post!'>
      </tags-input>
    </div>

    <div>
      <div ng-show="!layout.detail_input" ng-click="show_detail_editor()"
          style='background:#f9f9f9;padding:20px;cursor:pointer'>
        {{ post.detail|markdown }}
      </div>
      <div ng-show="layout.detail_input">
        <textarea ng-model='post.detail'
            placeholder="Post body goes here ... You can use the [ TAB ] key to indent.">
        </textarea>
      </div>
    </div>
    <!-- ======== Tags ======== -->

    <div flex>
      <tags-input class="custom" ng-model='tags_input'
          placeholder='Tag your post!'>
      </tags-input>
    </div>

    <div>
      {% for item in items %}
      <div style='display:inline-block;margin-top:5px;margin-bottom:5px;'>
        {% include 'django-item-overview.html'%}
      </div>
      {% endfor %}
    </div>
    <!-- Newly added item, either brand new of existing. -->
    <div style='display:inline-block' ng-repeat="item in new_items">
      <div layout='row'>
        <angular-item-overview></angular-item-overview>
      </div>
    </div>

    <!-- ======== Buttons ======== -->
    <div layout='row' layout-align='end'>
      <div class='button button-small button-gray'
          ng-click="add_new_item()">Add new item</div>
      <div class='button button-small button-gray'
          ng-click="select_item()">Add existing item</div>
      <div ng-click="save()" class='button button-small button-gray'>Save</div>
    </div>
  </div>
</div>
{% endblock %}