{% extends 'layout.html' %}

{% block content %}
<div id='search-results-wrapper'
    flex
    ng-init="q='{{q}}';tags='{{tags}}';areas='{{areas}}'; init_post_num={{init_post_num}}"
    ng-controller="SearchResultsCtrl">
  
  <!-- Side navigation bar -->
  <div class='sidebar' hide-sm>
    <div class="text-large" style='padding:10px;background:#eee'>
      <i class="fa fa-list"></i>&nbsp;Posts list
    </div>
    <div style='max-height:650px;overflow:scroll'>
      {% for post in posts %}
      <div class='text-default sidebar-item'
          ng-click="scroll_to_post('{{post.id}}')">
          {% load filters %}
        <i class='fa fa-circle-o'></i>&nbsp;&nbsp;{{ post.title|truncate:40 }}
      </div>
      {% endfor %}
      <div ng-cloak ng-repeat="post in posts"
          class='text-default sidebar-item'
          ng-click="scroll_to_post(post.id)">
        <i class="fa fa-circle-o"></i>&nbsp;&nbsp;<bind ng-bind="post.title|truncate:40"></bind>
      </div>
    </div>
  </div>

  {% if not posts %}
  <div layout='row'>
    <div flex-gt-md="30" flex-md="35"></div>
    <div flex-gt-md="70" flex-gt-lg="60">
      <br/>
      <br/>
      <div class='text-large'>
        Oops, it seems there is no posts matches your search criteria; you can try other keywords.
      </div>
    </div>
  </div>
  {% else %}


  <!-- the Post list -->
  <div class='search-results-list'
      layout='row' flex
      infinite-scroll="load_posts()" infinite-scroll-distance="1"
      infinite-scroll-disabled="layout.loading.posts || scrollTop < 600">
    <div flex-gt-md="30" flex-md="35"></div>
    <div flex-gt-md="70" flex-gt-lg="60">
      <div style='padding:0px 10px;'>
        {% if tags %}
        <br/>
        <div class='section-title section-title-large'>Posts satisfying </div>
        <span class='text-bold'>Tags: </span>
          {% for tag in tags|split:"," %}
          <a href="/app/search?tags={{tag}}"><span class='tag tag-small tag-blue text-bold'>{{tag}}</span></a>
          {% endfor %}
        {% endif %}
        {% if areas %}
        <br/>
        <div class='section-title section-title-large'>Posts satisfying </div>
        <span class='text-bold'>Areas: </span>
          {% for area in areas|split:"," %}
          <a href="/app/search?areas={{area}}"><span class='tag tag-small tag-blue text-bold'>{{area}}</span></a>
          {% endfor %}
        {% endif %}
        {% if not tags and not areas %}
        <br/>
        <div class='section-title section-title-large'>Most recent posts</div>
        <div style='padding:0px 10px;color:#999;'>Click tags or areas to narrow your search.</div>
        {% endif %}
      </div>
      {% for post in posts %}

      <div id="post-{{post.id}}">
        {% include 'pages/components/post-overview.html' %}
      </div>

      {% endfor %} {# posts iteration end #}
      {% verbatim %}
      <div id="post-{{post.id}}" ng-repeat="post in posts">
        <post-overview></post-overview>
      </div>
      {% endverbatim %}
    </div>
  </div>

  {% endif %}
</div>


{% endblock %}