/* ============== Directives ============== */
/* Drop-down-menu like transfer button */
.item-overview-title{
    background: #00B411;
    color: #fff;
    padding: 5px 5px 5px 15px;
    font-weight: 600;
}
.item-overview-quantity{
    background:#fff;color:#00B411;
    padding:4px 10px;margin-left:10px;
}

.item-overview-field{
    display: inline-block;margin-right: 20px;margin-bottom: 10px;
}
[drop-down-menu]{
    cursor: pointer;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out; /* IE10 is actually unprefixed */
    -o-transition: all 0.2s ease-out;
}

[drop-down-menu-target]{
    background: #fff;border: 1px solid #aaa;
    box-shadow: 0px 2px 8px #ccc;
}


[drop-down-menu]{
    font-weight: 600;
}
[drop-down-menu] .drop-down-menu-header{
    font-size: 14px;padding: 5px 15px;
}
[drop-down-menu] .option{
    padding: 10px 15px;
}
[drop-down-menu] .option:hover{
    background: #eee;
}
[drop-down-menu] .option.active{
    background: #ccc;
}
[drop-down-menu] .drop-down-menu-input{
    padding: 5px 15px;font-size: 14px;background: #f4f4f4;
}
[drop-down-menu] .drop-down-menu-input span{
    padding-left: 15px;
}
[trigger]{
    cursor: pointer;
}

input-dropdown[reduced-padding] .choice-result{
    padding-top:0px;
}
input-dropdown[reduced-padding] .input-label{
    padding-bottom: 0px;padding-top: 0px;
}
input-dropdown>div{
    border: 1px solid transparent;
}
input-dropdown:hover{
    background: #f4f4f4;
}
input-dropdown .active{
    background: #fff;
    box-shadow: 0px 3px 6px #ccc;border: 1px solid #ccc;
}

input-num{
    cursor: pointer;
}
input-num>div:hover, [input-num]>div:hover {
    background: #f4f4f4;
}

.choices-list{
    position:absolute;margin-left: -11px;
    background: #fff;box-shadow: 0px 3px 6px #ccc;
    border: 1px solid #ccc;
    border-top: none;
    z-index:1;
}
.choice-result{
    font-size:14px;cursor: pointer;
    border: 2px;font-weight: 600;
}
.choice-option {
    padding: 10px 10px;font-size: 14px;cursor: pointer;
    background: #fff;font-weight: 600;color: #666;
}
.choice-option:hover{
    background-color:#eee;
}
.choice-option.active{
    background-color:#4889F0;color: #fff;
}
.transfer-button{
    padding: 5px;
}
.transfer-button:hover{
    background: #eee;
}

tags-input.custom {
    cursor: pointer;
}
tags-input.custom .tags{
    border: none;background: transparent;cursor: pointer;
    box-shadow: none;
}
tags-input.custom .host{
    border: 1px solid #ddd;max-width: 500px;cursor: pointer;
}
tags-input.custom.long .host{
    max-width: 100%;
}
tags-input.custom .tags .tag-item{
    background: #f4f4f4;border-radius: 0px;
    border: 1px solid #ddd;
    font: inherit;
    line-height: 24px;
}
tags-input.custom input {
    width: auto;
}
tags-input.custom.purple .tags .tag-item{
    background: #CA5EFA;color: #fff;
}

[tooltip] {
    cursor: pointer;
}
#content-wrapper .tooltip{
    font-size:16px;opacity: 0.6;letter-spacing: 0.5px;
}

.minicolors-theme-bootstrap .minicolors-swatch{
    top: 1px;
    left: 1px;
    width: 22px;
    height: 22px;
    border-radius: 3px;
}
.minicolors input.ng-valid.minicolors-input{
    width: 120px;
}

input.submission-error.ng-invalid.ng-dirty{
    background: #f17483;color: #fff;
}


/* click-to-expand */
[click-to-expand]{
    margin-top: 10px;
}
[click-to-expand] .collapse-header{
    background: #f4f4f4;border: 1px solid #ddd;
    border-top-left-radius: 3px;border-top-right-radius: 3px;
    padding: 8px 15px;font-weight: 600;color: #666;
}
[click-to-expand] .collapse-header:hover{
    background: #eee;
}
[click-to-expand] .collapse-body{
    border-left: 1px solid #ddd;border-right: 1px solid #ddd;
    border-bottom-left-radius: 3px;border-bottom-right-radius: 3px;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}