/* Feeds */

.event .post-container{
    margin-top: 0px;
}


#dashboard-wrapper{
    padding:20px;
}
.dashboard-history-list{
    padding: 5px 20px;background: #f9f9f9;min-height: 300px;
    margin-top: 20px;
}

.dashboard-post-overview, .dashboard-item-overview{
    margin: 20px;padding: 10px 15px;
    box-shadow: 0px 3px 8px #ccc;
}


/* =========================== item list =========================== */
.dashboard-item-overview-basics, .dashboard-item-overview-details{
    padding:0px 10px 10px 10px;
}
.dashboard-item-overview textarea{
    padding: 5px 10px;
    margin-top: 5px;
    border: 1px solid transparent;cursor: pointer;
    line-height: 1.4;
}
.dashboard-item-overview textarea:hover{
    background: #f9f9f9;
}
.dashboard-item-overview textarea:focus{
    border-color: #f9f9f9;box-shadow: none;
}

.button.pagination{
    font-size: 14px;padding: 5px 10px;
    background: #f4f4f4;border: 1px solid #eee;
    margin: 10px;
}
.button.pagination:hover{
    background: #eee;
}

.post-item-list{
    margin: 10px;
}
.post-item{
    padding: 5px 5px 5px 10px;background: #00b411;margin-bottom: 5px;
}
.post-item input{
    color: #fff;font-size: 16px;padding: 0px;line-height: 20px;
}
.item-status{
    margin-bottom: 5px;
}



.dashboard-post-title{
    font-size: 20px;
}

.dashboard-post-overview textarea{
    border: 1px solid #f9f9f9;
}
.dashboard-post-overview textarea:focus{
    background: #f9f9f9;
}
.dashboard-post-item {
    display: inline-block;margin-top: 10px;margin-right: 10px;
    background: #5681CB;padding: 5px 10px;border-radius: 5px;
    color: #fff;font-size: 18px;
}
.dashboard-post-item:hover{
    background: #406099;cursor: default;
}

.hide {
    display: none;
}
