body{
    font-size: 15px;
}
a{
    color: inherit;text-decoration: none;
}
#content-wrapper a:hover{
    cursor: pointer;text-decoration: none;color: inherit;
}
body p{
    margin-top: 8px;margin-bottom: 8px;line-height: 1.3;
}
em{
    font-weight: 600;
}

[bd-black]{
    border:1px solid black;
}
[bd-red]{
    border:1px solid red;
}
[bd-yelow]{
    border:1px solid yellow;
}
[bd-blue]{
    border:1px solid blue;
}

[reduced-padding]>div:first-of-type {
    padding-bottom: 0px;margin-bottom: 0px;
}
[reduced-padding]>div:nth-of-type(2) {
    padding-top: 0px;margin-top: 0px;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

::-webkit-input-placeholder {
   color: #ccc;
}

:-moz-placeholder { /* Firefox 18- */
   color: #ccc;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #ccc;  
}

:-ms-input-placeholder {  
   color: #ccc;  
}

/* t-mg-<num> are to set margin-top to be <num>px*/
[mg-t-10]{
    margin-top: 10px;
}
[mg-t-20]{
    margin-top: 20px;
}
[mg-t-40]{
    margin-top: 40px;
}
[mg-tb-10]{
    margin-top: 10px;margin-bottom: 10px;
}
[mg-tb-20]{
    margin-top: 20px;margin-bottom: 20px;
}
[mg-tb-40]{
    margin-top: 40px;margin-bottom: 40px;
}
[mg-lr-10]{
    margin-left: 10px;margin-right: 10px;
}
[mg-lr-20]{
    margin-left: 20px;margin-right: 20px;
}
[mg-lr-40]{
    margin-left: 40px;margin-right: 40px;
}
[reduce-margin-0] div{
    margin-top:0px;margin-bottom: 0px;
}
[pd-tb-10]{
    padding-top:10px;padding-bottom: 10px;
}
[pd-tb-20]{
    padding-top:20px;padding-bottom: 20px;
}
[pd-lr-20]{
    padding-left:20px;padding-right: 20px;
}

[transition]{
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out; /* IE10 is actually unprefixed */
    -o-transition: all 0.3s ease-out;
}

.section-title{
    color: #666;font-weight: 500;
}
.section-title-xlarge{
    font-size: 40px;padding: 0px 10px;margin: 0px 10px;
}
.section-title-large{
    font-size: 25px;padding: 5px 0px;
    margin: 10px 0px;
}
.section-title-dark{
    background: #666;color: #ddd;
}


/* Inputs */
.form-control:focus{
    box-shadow: none;border-color: #ccc;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out; /* IE10 is actually unprefixed */
    -o-transition: all 0.3s ease-out;
}

input, textarea{
    font-size: 14px;color: #666;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out; /* IE10 is actually unprefixed */
    -o-transition: all 0.2s ease-out;
}

input{
    width: 100%;
    cursor: pointer;
    background: transparent;
    border:1px solid transparent;
    border-bottom:2px solid #ddd;
    line-height: 20px;
}
input:focus{
    border-bottom:2px solid #0f78ff;
}
input.input-default {
    text-align: left;
}
input.input-short{
    text-align: center;
}
input.input-title{
    font-size: 18px;border:2px solid transparent;line-height: 30px;
    width: auto;
}
input.input-title:hover{
    border-bottom: 2px solid #ddd;
}
textarea{
    font-size: 15px;
    border:1px solid #f9f9f9;background:transparent;
    padding: 10px;resize: none;
    width: 100%;line-height: 1.4;cursor: pointer;
}
textarea:focus{
    border: 1px solid #ddd;
}

.input-container-mid{
    margin-top: 10px;margin-bottom: 10px;
}
.input-container-short{
    width:160px;margin-top: 10px;margin-bottom: 10px;
}
.input-container-xshort{
    width: 150px;margin-top: 10px;margin-bottom: 10px;
}
.input-label{
    color:#999;
}

.dropdown-menu>li>a{
    font-size: 16px;color: #666;padding: 10px 15px;
}


/* Buttons */

.button {
    cursor:pointer;text-align: center;font-weight: 600;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out; /* IE10 is actually unprefixed */
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

/* .button-size */
.button-default{
    font-size: 14px;padding: 10px 20px;border-radius: 2px;
    border: 1px solid #ddd;
}
.button-small{
    font-size: 12px;padding: 5px 10px;border-radius: 2px;
}
/* .button-color */
.button-green{
    background: #eee;color: #666;
}
.button-green:hover{
    background: #0c9900;color: #eee;
}
.button-blue{
    background-color: #4889F0;color: #fff;
}
.button-blue:hover{
    background: -webkit-linear-gradient(top,#3c7ae4,#3f76d3);
    background: #3c78dc;
}
.button-gray{
    background: #f4f4f4;color:#666;border: 1px solid #ddd;
}
.button-gray:hover{
    background: #eee;
}
.button-gray:active{
    background: #ddd;
}
.button-red{
    background: #f1686f;color:#fff;
}
.button-red:hover{
    background: #f13438;
}
.button-light-gray{
    background:rgb(249, 249, 249)
}
.button-light-gray:hover{
    background:#eee;
}
.button-white:hover{
    background: #eee;
}


.tag{
    cursor: pointer;margin: 5px 5px 5px 0px;
    display: inline-block;
}
.tag-small{
    padding: 5px 10px;border: 1px solid #ddd;
    font-size: 13px;
}
.tag-large{
    padding: 8px 15px;border: 1px solid #ddd;font-size:18px;font-weight: 600;
    border-radius: 30px;
}
.tag-xsmall{
    padding: 2px 5px;border: 1px solid #ddd;
    border-radius: 15px;
}
.tag-gray{
    background: #f4f4f4;color: #666;
}
.tag-gray:hover{
    border: 1px solid #aaa;
}
.tag-light-gray{
    background: #f9f9f9;color: #999;
}
.tag-purple{
    background: #CA5EFA;color: #fff;
}
.tag-purple:hover{
    border: 1px solid #CA5EFA;
}
.tag-blue{
    background: #4889F0; color:#fff;
}
.tag-blue:hover{
    background: #4889F0;
}
.tag-red{
    background: #f06b5f; color:#fff;
}
.tag-red:hover{
    background: #f03f46;
}
.tag-default{
    font-size: 14px;
    padding: 5px 15px;
    border-radius: 5px;margin-right: 10px;
    /* Set inline-block to prevent line-break that break a <span> element */
    display:inline-block;margin-bottom: 10px;margin-top: 10px;
}
.tag.tag-gray.selected{
    background: #4889F0;color: #fff;
}


/* Texts */

[layout-margin]>div, [layout-margin]>div>div {
    margin: 10px 10px;
}

.text-default{
    font-size: 15px;padding-top: 5px;padding-bottom: 5px;
}
.text-small{
    font-size: 13px;color: #666;
}
.text-xlarge{
    font-size: 25px;font-weight: 600;
}
.text-large{
    font-size: 20px;font-weight: 600;
}

.helper-title{
    color: #999;font-size: 16px;
}
.helper-text{
    font-size: 14px;color: #999;margin-right: 10px;
}
.text-bold{
    font-weight: 500;
}
.text-blue{
    color: #4184f3;
}
.text-red{
    color: #FF3333;
}
.text-gray{
    color:#666;
}
.test-light-gray{
    color: #999;
}
.text-light-gray{
    color: #888;
}

/* ================================================================= */
/* ======================== Angular-Animate ======================== */
.fade-in{
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.2s;
}

.fade-in.ng-show{
    opacity: 1;
}
.fade-in.ng-hide{
    opacity: 0;
}

.fade-in.ng-move,
.fade-in.ng-enter,
.fade-in.ng-leave {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.fade-in.ng-leave.ng-leave-active,
.fade-in.ng-move,
.fade-in.ng-enter {
  opacity:0;
}

.fade-in.ng-leave,
.fade-in.ng-move.ng-move-active,
.fade-in.ng-enter.ng-enter-active {
  opacity:1;
}

/* ==================================================================*/
/* ==================== Common template styling ==================== */

/* nav-bar */
.nav-bar {
    position: fixed;
    height:60px;width: 100%;
    background:rgba(255, 255, 255, 0.9);border: 1px solid #ddd;
    z-index: 1;
}
.logo, .menu{
    padding: 15px;
}
/* For each menu item on the nav-bar */
.nav-bar .menu-item{
    padding: 10px;
}
#search-form.index-search-form tags-input.custom input{
  color: #fff;
}
#search-form tags-input.custom input:focus{
  border: none;
}
#search-form tags-input.custom .host{
  border: none;
  border-bottom: 2px solid #ddd;
  margin-top: 0px;margin-bottom: 0px;
}
#search-form tags-input.custom .tags.focused{
  box-shadow: none;
}
#content-wrapper{
    background: #f9f9f9;
}

.timeline-button{
    padding: 3px 10px;cursor: pointer;
}
.timeline-button:hover{
    background: #f4f4f4;
}
/* ======== Django Templates ======== */
.post-container{
    padding:20px;margin:20px 10px;
    background: #fff;border: 1px solid #ddd;
}
.sidebar{
  position:fixed;left:0px;top:60px;width:280px;height: 100%;
  background: #fff;border-right: 1px solid #ddd;
}
.sidebar-body{
  padding-left:20px;margin-top:10px;
  max-height: 600px;overflow: scroll;
}
.event-header{
  padding: 10px 10px;
}

.event-header.time{
  color: #999;border-right:2px solid #ccc;
}
.event-header.content{
    border-left:2px solid #ccc;
}

.event-body{
  padding: 20px 40px;
}
.event-body.status, .event-body.description{
  background: #f4f4f4;
}
.picture-container{
    border: 2px solid #aaa;
    background-size: 100%;
    background-repeat: no-repeat;
    -moz-box-shadow:    inset 0 0 100px #333;
    -webkit-box-shadow: inset 0 0 100px #333;
    box-shadow:         inset 0 0 100px #333;
}
.picture-container>img{
    opacity: 0;width: 98%;
}

/* Side bars */
.sidebar-item{
    padding:5px 10px;
    font-weight:600;
    cursor:pointer;
}
.sidebar-item:hover{
    background: #eee;
}

.post-body{
    ;
}


/* Disqus */
.disqus-container{
    background: #fff;box-shadow: 0px 3px 8px #ccc;
    padding: 20px;
}

#disqus_thread .post-content{
    padding: 10px;
    background: #fff;
    box-shadow: 0px 2px 5px #ddd;
    border: 1px solid #ddd;
}
