body{
    background: #eee;
}

div, span{
    transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out; /* IE10 is actually unprefixed */
    -o-transition: all 0.2s ease-out;
}

#result-wrapper{
    padding-left:10px;padding-right: 10px;
    padding-top: 20px;
}
.result-post{
    padding: 30px 20px;background: #fff;
    margin:20px;max-width: 750px;
}
.result-post:hover{
    box-shadow: 0px 0px 10px #ccc;
}
.result-post-title{
    font-size: 30px;color: #000;
}

.result-post-text{
    font-size: 18px;color: #333;
}
