#search-results-wrapper{
    height: 100%;min-height: 680px;
}
.post-header{
    margin-top:5px;margin-bottom:5px;
}
.post-header .username{
    padding-top:0px;padding-bottom:2px;font-size:18px;
}
.post-header .time-posted{
    padding-bottom:5px;
}

.post-header .expiration{
    color: #666;
}

.post-body{
    margin-top: 10px;
}

.item-container{
    width:100%;
    cursor: pointer;
    padding:15px;
}
.item-container:hover{
    background: #f9f9f9;
}

.item-overview-title{
    background:#00B411;color:#fff;
    padding:5px 5px 5px 15px;font-weight:600
}
.item-overview-quantity{
    background:#fff;color:#00B411;
    padding:4px 10px;margin-left:10px;
}
.transfer-button{
    padding: 10px;
}
.transfer-button:hover{
    background: #eee;
}


.add-item{
    cursor: pointer;padding: 25px 10px;margin-top: 5px;
}
.add-item:hover{
    background: #eee; 
}
.add-item.active{
    background: #00B411;color: #fff
}
.add-item.disabled:hover{
    background: #fff;
}