<div layout='row' layout-align='start center'>
    <img height=60 ng-src="{{item.pic}}" ng-if='item.pic' ng-click="get_albums(item)" style='cursor:pointer;display:inline-block'>
    <div ng-if="!item.pic" style='padding:15px 10px 15px 15px;cursor:pointer' ng-click="get_albums(item)">
      <i class="fa fa-upload text-large"></i>
    </div>
    <div style='padding:15px 10px;' flex>
      <input type='text' style='border:none;width:100%;display:inline-block'
          ng-model="item.title" placeholder="Item title (3-144 characters)"
          ng-maxlength='144' ng-minlength="3">
    </div>
</div>