<style>
  [area-setting-form]{
    background: #fff;box-shadow: 2px 2px 8px #ccc;
    width:100%;padding:40px 20px 20px 20px;
  }
  [area-setting-form] tags-input .tags .input{
    width:auto;
  }
</style>
<form area-setting-form {% if view != "dashboard"  %} ng-hide="hide_area_setting"{% endif %}
    name='area-setting-form' action='/app/user/setting/'
    layout='row' layout-align='center'>
  <div style=''>
    {% if view != "dashboard"%}<div class='text-small'>Welcome to the community! To begin,</div>{% endif %}
    <div reduced-padding>
      <div class='section-title section-title-large'>To enable news feeds</div>
      <div class='text-large text-light-gray'>set up your primary area and interested areas</div>
    </div>
    <div layout='column' layout-gt-md='row'>
      <div class='text-default' style='margin: 20px 20px 20px 0px;'>
        <div layout layout-align='start center'>
          <b>Primary area</b>:&nbsp;&nbsp;
        </div>
        <div mg-tb-10 class='text-small' style='max-width:400px;'>Indicate the general area where you want your articles and collections to be associated to.</div>
        <div>
          Area zip code: 
          <input type='text'style='width:60px;text-align:center'
              name='primary-area' placeholder='XXXXX' ng-model="primary_area">
        </div>
        
      </div>
      <div class='text-default' style='margin: 20px 20px 20px 0px;'>
        <div><b>Interested areas</b></div>
        <div mg-tb-10 class='text-small' style='max-width:400px;'>Articles and items from interested areas will automatically display on your news feeds.</div>
        <div area-validation>
          <tags-input class='custom' ng-model="interested_areas_tags"
              allowed-tags-pattern="^\d{5}$"
              placeholder="Area zip codes">
          </tags-input>
        </div>
      </div>
    </div>
    <div class='button button-small button-gray' ng-click="submit_areas_setting()">
      OK
    </div>
  </div>
</form>
