<div class='post-container' flex>
  {% with item=event.item %}
  <div class='post-header' layout='row' layout-align='space-between'>

    <div layout='row'>
      <!-- User photo -->
      <div>
        <a href="/app/user/?user_id={{ item.owner.uid }}"><img height=50 src="{{ item.owner.photo }}"></a>
        &nbsp;&nbsp;&nbsp;
      </div>
      <!-- User's name and time posted -->
      <div>
        <a href="/app/user/?user_id={{ item.owner.uid }}">
          <div class="username"><b>{{ item.owner.username }}</b></div>
        </a>
        <div class="time-posted">{{ event.time_updated }}</div>
      </div>
    </div>

  </div>

  {% with field=event.field %}
  {% with new_val=event.new_value %}
  <div flex>
    {% if field == "pic" %}
    <a href="/app/item/{{item.pk}}/timeline/"><b class="text-blue">{{item}}</b></a> has a new <b>image</b>.

    {% elif field == "status"%}
    <div flex><a href="/app/item/{{item.pk}}/timeline/"><b class="text-blue">{{item}}</b></a> updated its <b>status</b> </div>

    {% elif field == "creation" %}
    <span> added <a href="/app/item/{{item.pk}}/timeline/"><b class="text-blue">{{item}}</b></a></span>.

    {% elif field == "description" %}
    <span><a href="/app/item/{{item.pk}}/timeline/"><b class="text-blue">{{item}}</b></a></span> has a new <b>description</b>.

    {% else %}
    <span><a href="/app/item/{{item.pk}}/timeline/"><b class="text-blue">{{item}}</b></a> updated its <b>{{ field }}</b></span>: <em><span>{{ new_val }}.</span></em>

    {% endif %}
  </div>
  <br/>

  <div layout='row' flex>
    <div flex>
    {% if event.model_name == "ItemEditRecord" %}
      {% if field == "pic" %}
      <div class='picture-container' flex
          style="background-image: url({{ new_val }});">
        <img src="{{ new_val }}">
      </div>
      {% elif field == "creation" %}
      <div flex>
        {% include 'pages/components/django-item-overview.html' %}
      </div>
      {% elif field == "status" %}
      <div class='event-body status' flex>
       <i class="fa fa-quote-left"></i>&nbsp;&nbsp;{{ new_val }}
      </div>
      {% elif field == "description" %}
      <div class='event-body description' flex>
      {{ new_val }}
      </div>
     {% endif %}
    {% endif %}
    </div>
  </div>
  {% endwith %}
  {% endwith %}
  {% endwith %}
</div>