{% with giver=event.giver %}
{% with receiver=event.receiver %}
<div  class='post-container'>
  <div class='post-header' layout='row' layout-align='space-between'>

    <div layout='row'>
      <!-- User photo -->
      <div>
        <a href="/app/user/?user_id={{giver.uid}}">
          <img height=50 src="{{ giver.photo }}">
        </a>&nbsp;&nbsp;&nbsp;
      </div>
      <!-- User's name and time posted -->
      <div>
        <a href="/app/user/?user_id={{giver.uid}}">
          <div class="username"><b>{{ giver.name }}</b></div>
        </a>
        <div class="time-posted">{{ event.time_updated }}</div>
      </div>
      <div layout='column' layout-align='center'
          style='margin-left:20px;margin-right:20px'>
        <i class="fa fa-long-arrow-right fa-2x"></i>
      </div>
      <div>
        <a href="/app/user/?user_id={{receiver.uid}}">
          <img height=50 src="{{ receiver.photo }}">
        </a>&nbsp;&nbsp;&nbsp;
      </div>
      <div>
        <a href="/app/user/?user_id={{receiver.uid}}">
          <div class="username"><b>{{ receiver.name }}</b></div>
        </a>
        <div class="time-posted">{{ event.time_updated }}</div>
      </div>
    </div>
  </div>
  
  <div>
  {% load filters %}
    {% if event.model_name == "ItemTransactionRecord" %}
    <div>
        {% if event.status == "Sent"%}
          <span>
            <span class='text-bold'>{{ giver.name }}</span> has sent <span class='text-bold'>{{ receiver.name }}</span> an <span class='text-bold text-blue'>item {{ event.item.title }}</span>
          </span>

        {% elif event.status == "Received" or event.status == "Rejected" %}
          <span>{{ receiver.name }} {{event.status}} item {{event.item}} from {{ giver }}</span>

        {% elif event.status == "Revoked" %}
          <span>Item {{event.item}} from {{ giver }} has been revoked.</span>
        {% endif %}
    </div>        

  {% endif %}

    {% with item=event.item%}
    {%   include 'pages/components/django-item-overview.html' %}
    {% endwith %}
  </div>

</div>
{% endwith %}
{% endwith %}