{% block item_overview %}
{% load filters %}
<div item-overview item-id="{{ item.id }}" flex>
  <div layout='row' layout-align='end'>

    <div click-to-show class='item-container' flex>

      <!-- Item title & quantity & Basic conditions-->
      <div click-to-show-trigger>
      {% include "pages/components/django-item-overview-header.html" %}
      {% block item_overview_header %}
      {% endblock item_overview_header %}
      </div>
      {% if item.tags %}
      <div>
      {% for tag in item.tags|split:"," %}
        <div class='tag tag-small tag-gray'>#{{ tag }}</div>
      {% endfor %}
      </div>
      {% endif %}
      <!-- Item description there is any -->
      {% if item.description %}
      <div style="margin-top: 10px;padding-top:4px;padding-bottom:4px;">
        &nbsp;&nbsp;<i class="fa fa-quote-left"></i>&nbsp;&nbsp;{{ item.description }}
      </div>
      {% endif %}

      <!-- Item thumbnail -->
      <div click-to-show-target>
        <br/>
        {% if item.pic %}
        <a href="/app/item/{{item.id}}/timeline/">
          <div class='picture-container'
              style="background: url({{item.pic}});background-size:100%">
            <img src="{{item.pic}}" style='width:98%;opacity:0'>
          </div>
        </a>
        <br/>
        {% endif %}
        <!-- Presets and customized Fields -->
        <accordion close-others="oneAtATime">
        
          <accordion-group>
            <!-- Presets -->
            <accordion-heading>
              <i class="fa fa-cog"></i>&nbsp;Presets &nbsp; 
              <i ng-show='!preset_is_open' class='fa fa-caret-down'></i>
              <i ng-show='preset_is_open' class='fa fa-caret-up'></i>
            </accordion-heading>
            <div>
              {% if item.condition != 'Inapplicable'%}
              {% with value=item.condition %}
              {% with field_title='Condition' %}
              {% include 'pages/components/django-field-text.html' %}
              {% endwith %}
              {% endwith %}
              {% endif %}

              {% with value=item.visibility %}
              {% with field_title='Visible to' %}
              {% include 'pages/components/django-field-text.html' %}
              {% endwith %}
              {% endwith %}

              {% with value=item.available %}
              {% with field_title='Available' %}
              {% include 'pages/components/django-field-text.html' %}
              {% endwith %}
              {% endwith %}

              {% if item.utilization != 'Inapplicable' %}
              {% with value=item.utilization %}
              {% with field_title='Frequence of use' %}
              {% include 'pages/components/django-field-text.html' %}
              {% endwith %}
              {% endwith %}
              {% endif %}
            </div>
            <div>

              {% if item.acquiring_date %}
              {% with value=item.acquiring_date %}
              {% with field_title='Acquired on' %}
              {% include 'pages/components/django-field-text.html' %}
              {% endwith %}
              {% endwith %}
              {% endif %}

              {% if item.original_value %}
              {% with value=item.original_value %}
              {% with field_title='Original $' %}
              {% include 'pages/components/django-field-text.html' %}
              {% endwith %}
              {% endwith %}
              {% endif %}

              {% if item.estimated_value %}
              {% with value=item.estimated_value %}
              {% with field_title='Estimated $' %}
              {% include 'pages/components/django-field-text.html' %}
              {% endwith %}
              {% endwith %}
              {% endif %}
            </div>
          </accordion-group>


          {% if item.customized_num_fields.all|length > 0 or item.customized_char_fields.all|length > 0  %}
          <accordion-group is-open="true" >
            <accordion-heading>
              <i class="fa fa-cogs"></i>&nbsp;Customized Fields &nbsp; <i class="fa fa-caret-down"></i>
            </accordion-heading>
            <!-- Customized fields -->
            <!-- - NUMBER fields -->
            {% for field in item.customized_num_fields.all %}
            {% with value=field.value %}
            {% with field_title=field.title %}
            {% with unit=field.unit %}
            {% include 'pages/components/django-field-text.html' %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endfor %}
            
            <!-- - Char Fields -->
            {% for field in item.customized_char_fields.all %}
            {% with value=field.value %}
            {% with field_title=field.title %}
            {% include 'pages/components/django-field-text.html' %}
            {% endwith %}
            {% endwith %}
            {% endfor %}
          </accordion-group>
          {% endif %}
        </accordion>
      </div>
      

    </div>
    <div>
      {% if item.owner != request.user %}
      <!-- Request Button or check mark -->
      <!-- Only the third party (neither the owner of the post nor the item) -->
      <!-- can see the following components                                  -->
      {%   if view == "search" and item.owner == post.owner and item.available != "No" or view == "dashboard" and item.available != "No" or view == 'timeline' and item.available != "No" %}
      {%       if request.user in item.requesters.all %}
        <div layout='column'>
          <div item-id="{{ item.id }}" class="add-item disabled">
            <i class="fa fa-check"></i>
          </div>
        </div>
      <!-- If the user has NOT requested the item, then show the -->
      <!-- add item button                                       -->
      {%       else %}

        <div layout='column'>
          <div item-id="{{ item.id }}" class="add-item"
              ng-click="add_item()"
              ng-class="{'active': items.indexOf(item_id) > -1}">
            <i class='fa fa-circle-o'></i>
          </div>
        </div>
      {%       endif %}
      {%   endif %}


      {% elif request.user == item.owner %}
      {%   if view == "search" and request.user == post.owner %}
      <div>
      {%     include 'pages/components/django-item-edit-menu.html' %}
      {%     if  item.requesters.all|length > 0 and item.transferrable%}
      {%       include 'pages/components/transfer-menu.html' %}
      {%     endif %}

      </div>

      <!-- In all other views, including dashboard, item timeline -->
      <!-- edit menu and transfer menu should appear whenever the current -->
      <!-- user is the owner of the item. -->
      {%   elif request.user == item.owner %}
      <div>
      {% include 'pages/components/django-item-edit-menu.html' %}
      {%    if item.requesters.all|length > 0 and item.transferrable %}
        {% include 'pages/components/transfer-menu.html' %}
      {%    endif %}
      </div>
      {%   endif %}
      {% endif %}
      <a href="/app/item/{{item.id}}/timeline">
        <div class="timeline-button" layout='row' layout-align='center'
            tooltip="Visit the item's timeline"
            tooltip-placement='left'>
          <i class='fa fa-clock-o'></i>
        </div>
      </a>
    </div>
  </div>
</div>
{% endblock item_overview %}