{% load filters %}
<div id='post-{{ post.id }}' class='post-container'
    search-post-overview ng-cloak
    owner-id="{{ post.owner.id }}" post-id="{{ post.id }}">

  <!-- Post header (title, area, owner, etc.) -->
  <div class='post-header' layout='row' layout-align='space-between'>

    <div layout='row'>
      <!-- User photo -->
      <div>
        <a href="/app/user/?user_id={{post.owner.id}}">
          <img height=50
              src="{{ post.owner.profile.all.0.social_account_photo }}">
              &nbsp;&nbsp;&nbsp;
        </a>
      </div>
      <!-- User's name and time posted -->
      <div>
        <a href="/app/user/?user_id={{post.owner.id}}">
          <div class="username"><b>{{ post.owner.username }}</b></div>
        </a>
        <div class="time-posted">{{ post.time_created }}</div>
      </div>
    </div>
    <!-- Expiration time -->
    <div reduced-padding>
      <div class='expiration'>
        {% if post.remaining_time %}
        {%   if post.remaining_time > 0%}
        Expiring in {{ post.remaining_time|floatformat:"0" }} days
        {%   else %}
        Probably expired
        {%   endif %}
        {% endif %}
      </div>
      {% if request.user == post.owner %}
      <div layout='row' layout-align='end' mg-tb-10>
        <a href="/app/post/{{post.id}}">
        <div class='button button-small button-white'>
          <i class='fa fa-pencil'></i>&nbsp;Edit
        </div>
        </a>
      </div>
      {% endif %}
    </div>

  </div>

  <!-- Post detail & item-list -->
  <div class='post-body'>
    <div layout='column' layout-gt-md='row' layout-align='space-between center'>
      <div>
        <div class="text-large">{{ post.title }}</div>
        <div layout='row' layout='start center'>
          <div> Location: {{ post.area }}</div>
          &nbsp;&nbsp;
          <div style="color:#999;cursor:pointer;border:1px solid #eee;padding:0px 5px;"
              follow-button-area area='{{post.area}}' ng-cloak ng-show="!is_followed({{post.area}}) && !profile.is_anonymous"
              ng-click="follow({{post.area}})">
            <i class='fa fa-plus'></i>&nbsp; Follow
          </div>
          <div ng-cloak ng-show="is_followed({{post.area}})">
            <i class="fa fa-check"></i>
          </div>
          &nbsp;&nbsp;
          <div ng-show="!profile.is_anonymous" layout='column' layout-align='center'>
            <i style='color:#666;' class="fa fa-info-circle" 
                tooltip-placement="bottom"
                tooltip="Following an area: public posts and items from the area will appear in your news feeds."></i>
          </div>
        </div>
      </div>
    </div>
    <div>
      {% for tag in post.tags|split:"," %}
        <a href="/app/search?tags={{tag}}"><span class='tag tag-small tag-gray'>#{{tag}}</span></a>
      {% endfor %}
    </div>
    {% load markdown_deux_tags %}
    <div click-to-expand max-height='125px'>
      <div click-to-expand-target class="text-default" style='background: #f9f9f9;padding:5px 20px;margin-top:10px;
      max-height:125px;overflow:hidden'>
        {{ post.detail | markdown}}
      </div>
      <div click-to-expand-trigger class='button button-small button-light-gray' style='border-radius:0px;margin-top:0px;'>
         <i class="fa fa-arrows-v"></i>&nbsp; toggle detail
       </div>
    </div>

    <!-- item list of the post -->
    {% for item in post.items.all %}

    {%   if request.user != post.owner and request.user != item.owner %}
    {%     if item.visibility == "Public" and item.owner == post.owner or post.owner in item.previous_owners.all and item.visibility == "Ex-owners" or post.owner in item.prev_owners.all and item.visibility == "Pbulic" %}
    {%       include "components/django-item-overview.html" %}
    {%     endif %}
    {%   elif request.user == post.owner and request.user == item.owner or request.user == post.owner and post.owner in item.prev_owners.all and item.visibility == "Ex-owners" or request.user == item.owner and post.owner in item.prev_owners.all and item.visibility == "Public" %}
    {%       include "components/django-item-overview.html" %}
    {%   endif %}

    {% endfor %} {# items iteration end #}
  </div> <!-- post body end -->

  <!-- [contact-me] button for each post -->
  <div layout='row' layout-align='end'>
    <div style='display:none' contact-button class='button button-small button-gray'
        ng-click="contact()" ng-show="items.length > 0">
      <i class="fa fa-weixin"></i>&nbsp;&nbsp;Contact me
    </div>
  </div>
</div>