{% block item_overview %}
{% load filters %}
<div search-item-overview item-id="{{ item.id }}">
  <div layout='row' layout-align='end'>

    <div click-to-show class='item-container' flex>

      <!-- Item title & quantity & Basic conditions-->
      <div click-to-show-trigger>
      {% include "pages/components/search-item-overview-header.html" %}
      {% block item_overview_header %}
      {% endblock item_overview_header %}
      </div>
      {% if item.tags %}
      <div>
      {% for tag in item.tags|split:"," %}
        <span class='tag tag-small tag-gray'>#{{ tag }}</span>
      {% endfor %}
      </div>
      {% endif %}
      <!-- Item description there is any -->
      {% if item.description %}
      <div style="margin-top: 10px;padding-top:4px;padding-bottom:4px;">
        &nbsp;&nbsp;<i class="fa fa-quote-left"></i>&nbsp;&nbsp;{{ item.description }}
      </div>
      {% endif %}

      <!-- Item thumbnail -->
      {% if item.pic %}
      <div click-to-show-target>
        <br/>
        <a href="/app/item/{{item.id}}/timeline/">
          <div class='picture-container'
              style="background: url({{item.pic}});background-size:100%">
            <img src="{{item.pic}}" style='width:98%;opacity:0'>
          </div>
        </a>
      </div>
      {% endif %}

    </div>

    <!-- Request Button -->
    <!-- Only the third party (neither the owner of the post nor the item) -->
    <!-- can see the following components                     -->
    {% if post.owner != request.user and item.owner != request.user or feeds and item.availability == "Available" %}
      <!-- If the post owner still owns the item -->
      {% if item.owner == post.owner and item.transferrable %}

        <!-- ===================================== -->
        <!-- If the user has requested the item -->
        {% if request.user in item.requesters.all %}
        <div layout='column'>
          <div item-id="{{ item.id }}" class="add-item disabled">
            <i class="fa fa-check"></i>
          </div>
        </div>
        <!-- If the user has NOT requested the item, then show the -->
        <!-- add item button                                       -->
        {% else %}
        <div layout='column'>
          <div item-id="{{ item.id }}" class="add-item"
              ng-click="add_item()"
              ng-class="{'active': items.indexOf(item_id) > -1}">
            <i class='fa fa-circle-o'></i>
          </div>
        </div>
        {% endif %}
        <!-- ===================================== -->

      <!-- If the post owner does not own the item, show nothing -->
      {% else %}
      <!-- NOTHING HERE -->
      {% endif %}

    <!-- Transfer button -->
    <!-- The buttons might show in messages, dashboard,
          and post search list -->
    <!-- If the user is  -->
    <!-- - owner of the post -->
    <!-- - owner of the item -->
    <!-- and -->
    <!-- - there are requesters of the (item in the post) -->
    <!-- - and the item is transferrable -->
    <!-- show the transfer menu -->
    {% elif post.owner == request.user and item.owner == request.user %}
    <div layout='column' layout-align='space-between'>

      {% if item|find_requester_in_post:post and item.transferrable %}
      {%   include 'pages/components/transfer-menu.html' %}
      {% endif %}

      {% include 'pages/components/django-item-edit-menu.html' %}
    </div>

    {% elif pm_messages and request.user == item.owner %}
    <div>
    {% include 'pages/components/django-item-edit-menu.html' %}

    {%    if item.requesters.all|length > 0 and item.transferrable %}
      {% include 'pages/components/transfer-menu.html' %}
    {%    endif %}
    </div>

    {% elif view == 'timeline' and request.user == item.owner %}
    <div>
    {% include 'pages/components/django-item-edit-menu.html' %}

    {%    if item.requesters.all|length > 1 and item.transferrable %}
      {% include 'pages/components/transfer-menu.html' %}
    {%    endif %}
    </div>

    {% endif %}

  </div>
</div>
{% endblock item_overview %}