<style>
  .sidebar .sidebar-menu-icon{
    border-radius:30px;
    width: 60px;height: 60px;
    border:2px solid #eee;background:#f9f9f9;
    cursor: pointer;
  }
  .sidebar .sidebar-menu-icon:hover{
    border-color: #aaa;background: #f4f4f4;
  }
  .sidebar .sidebar-menu-icon.selected{
    background: #4889F0;color: #fff;
  }
</style>
<div class='sidebar' style='width:100px;' hide-md hide-sm
    layout='column' layout-align='start center'>

  <br/>


  <div drop-down-menu>
  
    {% include "pages/components/sidebar-collection-icon.html" with class="fa fa-plus" title="Add"%}

    <div class='sidebar-secondary slide-right' style='min-width:200px;'
        drop-down-menu-target ng-cloak ng-show="show_menu">
      <div class='tag tag-small tag-gray'
          ng-click="create_item()">
        <i class='fa fa-plus'></i>&nbsp;Add an item
      </div>
      <a href="/app/post/">
        <div class='tag tag-small tag-gray'>
          <i class='fa fa-plus'></i>&nbsp;Add a post
        </div>
      </a>
    </div>
  </div>
  <!-- View modes -->
  <div drop-down-menu>

    {% include "pages/components/sidebar-collection-icon.html" with class="fa fa-eye" title="View Modes"%}

    <div class='sidebar-secondary slide-right' style='min-width:200px;'
        drop-down-menu-target ng-cloak ng-show="show_menu">
      <div class='tag tag-small tag-gray'
          ng-click='switch_view_mode("detail")'
          ng-class="{'selected': layout.view_mode == 'detail'}">
        Detail view
      </div>
      <div class='tag tag-small tag-gray'
          ng-click='switch_view_mode("thumbnail")'
          ng-class="{'selected': layout.view_mode == 'thumbnail'}">
        Thumbnail view
      </div>
      <div class='tag tag-small tag-gray'
          ng-click='switch_view_mode("printable")'
          ng-class="{'selected': layout.view_mode == 'printable'}">
        Printable View
      </div>
    </div>
  </div>

  <!-- Filter by  available -->
  <div drop-down-menu>

    {% include "pages/components/sidebar-collection-icon.html" with class="fa fa-question" title="Available"%}

    <div drop-down-menu-target ng-cloak
        class="sidebar-secondary slide-right"
        style='min-width:150px;' ng-show="show_menu">
      <div class='tag tag-small tag-gray'
          ng-click='filter_available("For Sale")'
          ng-class="{'selected': layout.filter_available == 'For Sale'}">
        <i class="fa fa-dollar"></i>&nbsp;For Sale
      </div>
      <div class='tag tag-small tag-gray'
          ng-click='filter_available("For Share")'
          ng-class="{'selected': layout.filter_available == 'For Share'}">
        <i class="fa fa-share"></i>&nbsp;For Share
      </div>
    </div>

  </div>

  <!-- Tags -->
  <div drop-down-menu>

    {% include "pages/components/sidebar-collection-icon.html" with class="fa fa-tags" title="Tags"%}

    <div ng-cloak drop-down-menu-target
        class="sidebar-secondary slide-right"
        style='min-width:250px;' ng-show="show_menu">
      <div>
        Tags
      </div>
      <hr style='margin:5px 0px;'/>
      {% for tag in available_tags %}
      <span class='tag tag-small tag-gray'
          ng-click="search_by_tag('{{tag}}')"
          ng-class='{"selected": is_searched("{{tag}}")}'>
        #{{tag}}
      </span>
      {% endfor %}
    </div>
  </div>

  <div drop-down-menu>
    {% include "pages/components/sidebar-collection-icon.html" with class="fa fa-sort-amount-asc" title="Reorder by field"%}

    <div drop-down-menu-target ng-cloak
        class="sidebar-secondary slide-right"
        style='min-width:250px;' ng-show="show_menu">
      <div>
        Search and order by 
        <span class="button button-small button-blue" ng-click="clear_search()">
          Clear
        </span>
      </div>
      <hr style='margin:10px 0px;'/>
      <div ng-repeat="field in profile.ordering_fields" click-to-expand>

        <div layout='row' layout-align='start center'>
          <span class='tag tag-small tag-gray' ng-bind="field.title"
              ng-click="search_by_field(field)"
              ng-class="{'selected': layout.items_search_results_order_by == field}">
          </span>
          <span style="cursor:pointer;" click-to-expand-trigger>
            <i class="fa fa-caret-down"></i>
          </span>
        </div>

        <div click-to-expand-target>
          <div ng-if="field.model_name == 'CustomizedDateField'">
            <span class="text-gray">From</span>: <input type="text"
                placeholder="From"
                datepicker-popup="MM-dd-yyyy"
                ng-model="field.lower_bound"
                is-open="opened_lower"
                style='width:90px;'
                ng-click = "opened_lower = true"
                ng-required="true"
                close-text="Close"/>
            <br/>
            <span class="text-gray">To</span>: <input type="text" 
                placeholder="To"
                datepicker-popup="MM-dd-yyyy"
                ng-model="field.upper_bound"
                is-open="opened_upper"
                style='width:90px;'
                ng-click = "opened_upper = true"
                ng-required="true"
                close-text="Close"/>
            <br/>
            <br/>
            <span class="button button-small button-blue"
                ng-click="search_by_field(field, field.lower_bound, field.upper_bound)">
              Search
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div><!-- Side bar end -->