<div>
  <!-- For a new field -->
  <if ng-if="!field.id" auto-expand data='field.title' init-width="70px" min-size=10>
    <input style='font-weight:600;color:#666;' placeholder="Title" type="text" ng-model="field.title">
  </if>

  <!-- For existing field -->
  <if drop-down-menu ng-if="field.id">
    <span drop-down-menu-trigger>
      <span class='text-light-gray' ng-bind="field.title"></span>
      <span><i class="fa fa-caret-down"></i></span>
    </span>

    <div drop-down-menu-target>
      <item-field-edit-menu></item-field-edit-menu>
    </div>
  </if>

</div>