{% extends 'layout.html' %}

{% block content %}

<div id='compose-wrapper' layout='vertical'
     pd-tb-20 pd-lr-20 ng-controller="ComposeCtrl">
  {% verbatim %}
    <div ng-show="success_is_show">
      {{ success_data }}
    </div>
  {% endverbatim %}
  
  <form action='process' ng-show='form_is_show'>
    <div layout='vertical' layout-sm='horizontal' layout-align='center center' mg-t-20 flex >
      <div>
        <input class='input-default input-large' type='text' placeholder='Post title'
            ng-model="post.title">
      </div>
    </div>
    <div layout='horizontal' layout-align='center' mg-t-20>
      <div flex flex-sm="80">
        <textarea class="form-control" rows="5" id="comment" placeholder='Say something about your stuffs?'
            ng-model="post.detail"></textarea>
      </div>
    </div>
    <div layout='horizontal' layout-align='center' mg-t-20>
      <div class='helper-text'>Where is your items?</div>
      <div flex='50' flex-sm='30' flex-md='10'>
        <div>
          <input class='input-default' type='text' placeholder='Zip Code' flex
              ng-model="post['zip_code']">
        </div>
      </div>
    </div>
    <div class='helper-title' mg-t-40> Please add your items below </div>
    {# List of items #}
    <div layout='vertical' layout-algin='start center' class='item-container'
        ng-repeat='item in items'>
      <item-edit-detail></item-edit-detail>
    </div>
    <div layout='horizontal' layout-align='center'>
      <span class='button button-default button-green' ng-click="add_item()">add more items</span>
      <span class='button button-default button-green' ng-click="publish()">Publish</span>
    </div>
  </form>
</div>


{% endblock %}