{% extends 'layout.html' %}

{% block content %}
  <div layout='vertical'>
    <div layout='vertical'>
      <div style='height:200px'></div>
      <form class="search-form search-form-large" name='search-form'
          action="results/">
        <div layout='vertical' layout-sm='horizontal'  layout-align='center center'>
          <div mg-tb-10>
            <input class='input-default' type='text' name='search-string' placeholder='What are you looking for?' style='min-width:300px;'
                ng-model='search_string'>
          </div>
          <div mg-tb-10 mg-lr-40>
            <input class='input-default input-short' type='text' name='search-loc' placeholder='zip code'
                ng-model='search_loc' ng-maxlength=5 ng-minlength=5 required>
          </div>
          <div mg-tb-10 mg-lr-40>
            <input class='button button-default button-green' type='submit' value='Find'>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}