
{% extends 'layout.html' %}

{% block content %}

<div layout='vertical'
    ng-controller="LoginCtrl">
    {% verbatim %}
      <div layout='vertical' layout-md='horizontal'
          layout-align='center'
          ng-show='user_info.is_anonymous'>
        <div id='login-form' layout='vertical'>
          <div>
            <div class='section-title section-title-large'>Log in here if you have an account.</div>
          </div>
          <div layout='horizontal' layout-align='space-between center' flex>
            <div flex>
              <div layout='horizontal' layout-align="center center">
                <div flex >
                  <input class='input-default' type='text' placeholder='# Username'
                      ng-class='{incomplete: login_is_incomplete}'
                      ng-model='user_name' required>
                </div>
              </div>
              <div layout='horizontal' layout-align="center center" flex>
                <div flex>
                  <input class='input-default' type='text' placeholder='* Password' style='width:100%'
                      ng-class='{incomplete: login_is_incomplete}'
                      ng-model='password' required>
                </div>
              </div>
              <div class='error-text' layout='horizontal' layout-align='center'
                  ng-show='is_error'>
                <div>Credential you entered does not match our record.</div>
              </div>
            </div>
            <div layout='horizontal' layout-align='center'>
              <div class='button button-default button-green'
                  ng-click='login()'>
                Login
              </div>
            </div>
          </div>
        </div>
        <div id='signup-form' layout='vertical'>
          <div class='section-title section-title-large' flex>
            Sign up here if not.
          </div>
          <div layout='horizontal' layout-align='center center'>
            <div>
              <div>
                <input class='input-default' type='text' placeholder='# Pick your username'
                    ng-model='signup_data.user_name'
                    ng-class="{incomplete: signup_is_incomplete}"
                    ng-minlength="5" ng-maxlength="20" required>
              </div>
              <div>
                <input class='input-default' type='text' placeholder='@ Your email'
                    ng-model='signup_data.email'
                    ng-class="{incomplete: signup_is_incomplete}"
                    required>
              </div>
              <div>
                <input class='input-default' type='text' placeholder='* Create a password'
                    ng-model='signup_data.password'
                    ng-class="{incomplete: signup_is_incomplete}"
                    required>
              </div>
              <div>
                <input class='input-default' type='text' placeholder='* Create a password'
                    ng-model='signup_data.password_confirm'
                    ng-class="{incomplete: signup_is_incomplete}"
                    required>
              </div>
            </div>
            <div>
              <div class='button button-default button-green'
                  ng-click='signup()'>
                Sign up
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Log in success message -->
      <div layout="vertical" layout-align='center center'
          ng-hide='user_info.is_anonymous'>
          <div class='helper-text'>{{ success_msg }}</div>
      </div>

    {% endverbatim %}
    
</div>

{% endblock %}