{% extends 'layout.html'%}

{% block content %}
{% verbatim %}
  <div id='user-wrapper'
      ng-controller="UserCtrl">
    <div layout='vertical' layout-md='horizontal' layout-align='start center'>
      <div class='section-title section-title-exlarge'>Welcome, <b>{{ user_info.user_name }}</b>
      </div>
    </div>
    <div layout='horizontal' layout-align='center'>
      <div layout='vertical' layout-align='center start'>
        <div class='sectoin-title section-title-large'>
          Your previous posts
        </div>
        <div layout='vertical' layout-align='center center'>
          <div layout="vertical" layout-md="horizontal"
                ng-repeat="row in getArray(posts.length)">
            <div ng-repeat="post in posts.slice(row * 2, row*2 + 2)">
              <user-post-overview></user-post-overview>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>


{% endverbatim %}
{% endblock %}