<!DOCTYPE html>
<html>
<head>
  <meta property="wb:webmaster" content="b4dbe55cf560c334" />
  <meta charset="utf-8"/>
  <title>WorldSheet</title>
  <meta name="description" content=""/>
  <meta property="og:title" content="World Sheet: document your belongings and everything"/>
  <meta property="og:url" content="http://www.worldsheet.com"/>
  <meta property="og:type" content="website"/>
  <meta property="og:image" content="http://www.worldsheet.com/"/>
  <meta name="viewport" content="width=device-width"/>

  <title>Continue</title>
  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static 'app/bower_components/angular-material/angular-material.css'%}">
  <link rel="stylesheet" type="text/css" href="{% static 'app/bower_components/bootstrap/dist/css/bootstrap.min.css'%}">
  <link rel="stylesheet" type="text/css" href="{% static 'app/bower_components/font-awesome/css/font-awesome.css'%}">
  <link rel="stylesheet" type="text/css" href="{% static 'app/bower_components/jquery-minicolors/jquery.minicolors.css'%}">
  <link rel="stylesheet" type="text/css" href="{% static 'app/style/main.css'%}">
  <link rel="stylesheet" type="text/css" href="{% static 'app/style/search.css'%}">
  <link rel="stylesheet" type="text/css" href="{% static 'app/style/collection.css'%}">
  <link rel="stylesheet" type="text/css" href="{% static 'app/bower_components/ng-tags-input/ng-tags-input.css'%}">
  {% if view == 'dashboard' or view == 'collection' %}
  <link rel="stylesheet" type="text/css" href="{% static 'app/style/dashboard.css'%}">
  {% elif view == 'post' %}
  <link rel="stylesheet" type="text/css" href="{% static 'app/style/post.css'%}">
  {% endif %}
</head>

<body ng-app="continue">
  <div id="fb-root"></div>
  
  <div style='height:100%;' ng-controller="LayoutCtrl"
      ng-init="view='{{view}}';LIVEHOST='{{LIVEHOST}}'">
    {% include "navbar.html" %}
    {% block navbar %}
    {% endblock navbar %}
    <bottom-sheet></bottom-sheet>
    <b-s></b-s>
    <div style='height:60px;'></div>

    <div id='content-wrapper'>
      {% block content %}
      {% endblock %}
    </div>
    <div simple-alert></div>
  </div>


  {% load staticfiles %}

  {# Begin: Bower #}
  <script type="text/javascript" src="{% static 'app/bower_components/jQuery/dist/jquery.js'%}"></script>
  <script type="text/javascript" src="{% static 'app/bower_components/angular/angular.js'%}"></script>
  <script type="text/javascript" src="{% static 'app/bower_components/angular-animate/angular-animate.js'%}"></script>
  <script type="text/javascript" src="{% static 'app/bower_components/angular-aria/angular-aria.min.js'%}"></script>
  <script type="text/javascript" src="{% static 'app/bower_components/hammerjs/hammer.min.js'%}"></script>
  <script type="text/javascript" src="{% static 'app/bower_components/angular-material/angular-material.js'%}"></script>
  <script type="text/javascript" src="{% static 'app/bower_components/angular-resource/angular-resource.js'%}"></script>
  <script type="text/javascript" src="{% static 'app/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js'%}"></script>
  <!-- angular-restmod -->
  <script type="text/javascript" src="{% static 'app/bower_components/angular-restmod/dist/angular-restmod-bundle.min.js'%}"></script>
  <script type="text/javascript" src="{% static 'app/bower_components/angular-restmod/dist/styles/ams.min.js'%}"></script>
  <!-- Useful widgets -->
  <!-- - tags-input -->
  <script type="text/javascript" src="{% static 'app/bower_components/ng-tags-input/ng-tags-input.min.js'%}"></script>
  <!--  - infinite-scroll -->
  <script type="text/javascript" src="{% static 'app/bower_components/ngInfiniteScroll/build/ng-infinite-scroll.js'%}"></script>
  <!--  - markdown -->
  <script type="text/javascript" src="{% static 'app/bower_components/marked/lib/marked.js'%}"></script>
  <script type="text/javascript" src="{% static 'app/bower_components/angular-marked/angular-marked.js'%}"></script>
  <!-- - File upload -->
  <script type="text/javascript" src="{% static 'app/bower_components/ng-file-upload/angular-file-upload.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'app/bower_components/jquery-minicolors/jquery.minicolors.js' %}"></script>
  <script type="text/javascript" src="{% static 'app/bower_components/angular-minicolors/angular-minicolors.js' %}"></script>

  {# End: Bower #}
  <script type='text/javascript'>
    var LIVEHOST = '{{ LIVEHOST }}'
  </script> 
  <script type="text/javascript" src="{% static 'app/scripts/components/auto-resize.js'%}"></script>
  <script type="text/javascript" src="{% static 'app/scripts/app.js'%}"></script>
  <script type="text/javascript" src="{% static 'app/scripts/modules/auth.js'%}"></script>
  <script type="text/javascript" src="{% static 'app/scripts/modules/social-accounts.js'%}"></script>
  <script type="text/javascript" src="{% static 'app/scripts/modules/models.js'%}"></script>
  <script type="text/javascript" src="{% static 'app/scripts/layout.js'%}"></script>
  <script type="text/javascript" src="{% static 'app/scripts/universal-directives.js'%}"></script>
  <script type="text/javascript" src="{% static 'app/scripts/services/alert/alert.js'%}"></script>
  <script type="text/javascript" src="{% static 'app/scripts/services/private-message/private-message.js'%}"></script>
  <script type="text/javascript" src="{% static 'app/scripts/services/BS/BS.js'%}"></script>
  <script type="text/javascript" src="{% static 'app/scripts/services/album/album.js'%}"></script>
  <script type="text/javascript" src="{% static 'app/scripts/components/messages/messages.js'%}"></script>
  <script type="text/javascript" src="{% static 'app/scripts/components/donations.js'%}"></script>
  <script type="text/javascript" src="{% static 'app/scripts/components/collection.js'%}"></script>
  <script type="text/javascript" src="{% static 'app/scripts/components/index.js'%}"></script>
  <script type="text/javascript" src="{% static 'app/scripts/components/search/search.js'%}"></script>
  <script type="text/javascript" src="{% static 'app/scripts/components/dashboard.js'%}"></script>
  <script type="text/javascript" src="{% static 'app/scripts/components/user-profile.js'%}"></script>
  <script type="text/javascript" src="{% static 'app/scripts/components/dashboard-directives.js'%}"></script>
  {% if view == 'post' or view == 'post_create' %}
  <script type="text/javascript" src="{% static 'app/scripts/components/post/post.js'%}"></script>
  {% elif view == 'item-timeline'%}
  <script type="text/javascript" src="{% static 'app/scripts/components/item-timeline.js'%}"></script>
  {% elif view == 'item' %}
  <script type="text/javascript" src="{% static 'app/scripts/components/item/item.js'%}"></script>
  {% endif %}
  <script type="text/javascript">
    $("#content-wrapper").css({"min-height": $("body").height() + "px"});
  </script>
  <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'worldsheet'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
    var s = document.createElement('script'); s.async = true;
    s.type = 'text/javascript';
    s.src = '//' + disqus_shortname + '.disqus.com/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
  </script>

  {% load compile_static %}
  <!-- {% compile "app/scripts/app.coffee" %} -->
  <!-- {% compile "app/scripts/layout.coffee" %} -->
  <!-- {% compile "app/scripts/universal-directives.coffee" %} -->
  <!-- {% compile "app/scripts/components/index.coffee" %} -->
  <!-- {% compile "app/scripts/components/donations.coffee" %} -->
  <!-- {% compile "app/scripts/components/dashboard.coffee" %} -->
  <!-- {% compile "app/scripts/components/collection.coffee" %} -->
  <!-- {% compile "app/scripts/components/user-profile.coffee" %} -->
  <!-- {% compile "app/scripts/components/item-timeline.coffee" %} -->
  <!-- {% compile "app/scripts/components/dashboard-directives.coffee" %} -->
  <!-- {% compile "app/scripts/components/search/search.coffee" %} -->
  <!-- {% compile "app/scripts/components/messages/messages.coffee" %} -->
  <!-- {% compile "app/scripts/components/post/post.coffee" %} -->
  <!-- {% compile "app/scripts/components/item/item.coffee" %} -->
  <!-- {% compile "app/scripts/modules/models.coffee" %} -->
  <!-- {% compile "app/scripts/modules/auth.coffee" %} -->
  <!-- {% compile "app/scripts/modules/social-accounts.coffee" %} -->
  <!-- {% compile "app/scripts/services/alert/alert.coffee" %} -->
  <!-- {% compile "app/scripts/services/bottom-sheet/bottom-sheet.coffee" %} -->
  <!-- {% compile "app/scripts/services/album/album.coffee" %} -->
  <!-- {% compile "app/scripts/services/private-message/private-message.coffee" %} -->
  <!-- {% compile "app/scripts/services/BS/BS.coffee" %} -->



  <!-- Alternatively, use absolute path relative to the app folder
  <script type="text/javascript" src='/static/app/scripts/index.js'></script>-->
</body>
</html>