<!DOCTYPE html>
<html>
<head>
  <meta property="wb:webmaster" content="b4dbe55cf560c334" />
  <title>Continue</title>
  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static 'app/bower_components/angular-material/angular-material.css'%}">
  <link rel="stylesheet" type="text/css" href="{% static 'app/bower_components/bootstrap/dist/css/bootstrap.min.css'%}">
  <link rel="stylesheet" type="text/css" href="{% static 'app/bower_components/font-awesome/css/font-awesome.css'%}">
  <link rel="stylesheet" type="text/css" href="{% static 'app/style/main.css'%}">
  <link rel="stylesheet" type="text/css" href="{% static 'app/style/search.css'%}">
  <link rel="stylesheet" type="text/css" href="{% static 'app/style/search.css'%}">
  <link rel="stylesheet" type="text/css" href="{% static 'app/bower_components/ng-tags-input/ng-tags-input.css'%}">
  {% if view == 'dashboard' %}
  <link rel="stylesheet" type="text/css" href="{% static 'app/style/dashboard.css'%}">
  {% elif view == 'post' %}
  <link rel="stylesheet" type="text/css" href="{% static 'app/style/post.css'%}">
  {% endif %}
</head>

<body ng-app="continue">
  <div id="fb-root"></div>
  
  <div ng-controller="LayoutCtrl" ng-init="view='{{view}}'" style='height:100%;'>
    {% include "navbar.html" %}
    {% block navbar %}
    {% endblock navbar %}
    <bottom-sheet></bottom-sheet>
    <b-s></b-s>
    <div test style='height:60px;'></div>
    {% if request.user.profile.all.0.primary_area == "" and not request.user.profile.all.0.already_set %}
    
    {% include 'pages/components/area-setting.html'%}
    {% endif %}
    <div id='content-wrapper'>
      {% block content %}
      {% endblock %}
    </div>
    <div simple-alert></div>
  </div>


  {% load staticfiles %}

  {# Begin: Bower #}
  <script type="text/javascript" src="{% static 'app/bower_components/jQuery/dist/jquery.js'%}"></script>
  <script type="text/javascript" src="{% static 'app/bower_components/angular/angular.js'%}"></script>
  <script type="text/javascript" src="{% static 'app/bower_components/angular-animate/angular-animate.js'%}"></script>
  <script type="text/javascript" src="{% static 'app/bower_components/angular-aria/angular-aria.min.js'%}"></script>
  <script type="text/javascript" src="{% static 'app/bower_components/hammerjs/hammer.min.js'%}"></script>
  <script type="text/javascript" src="{% static 'app/bower_components/angular-material/angular-material.js'%}"></script>
  <script type="text/javascript" src="{% static 'app/bower_components/angular-resource/angular-resource.js'%}"></script>
  <script type="text/javascript" src="{% static 'app/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js'%}"></script>
  <!-- angular-restmod -->
  <script type="text/javascript" src="{% static 'app/bower_components/angular-restmod/dist/angular-restmod-bundle.min.js'%}"></script>
  <script type="text/javascript" src="{% static 'app/bower_components/angular-restmod/dist/styles/ams.min.js'%}"></script>
  <!-- Useful widgets -->
  <!-- - tags-input -->
  <script type="text/javascript" src="{% static 'app/bower_components/ng-tags-input/ng-tags-input.min.js'%}"></script>
  <!--  - infinite-scroll -->
  <script type="text/javascript" src="{% static 'app/bower_components/ngInfiniteScroll/build/ng-infinite-scroll.js'%}"></script>
  <!--  - markdown -->
  <script type="text/javascript" src="{% static 'app/bower_components/marked/lib/marked.js'%}"></script>
  <script type="text/javascript" src="{% static 'app/bower_components/angular-marked/angular-marked.js'%}"></script>
  <!-- - drag and drop -->
  <script type="text/javascript" src="{% static 'app/bower_components/angular-file-dnd/dist/angular-file-dnd.min.js' %}"></script>
  {# End: Bower #}

  <script type="text/javascript" src="{% static 'app/scripts/components/auto-resize.js'%}"></script>
  <script type="text/javascript" src="{% static 'app/scripts/app.js'%}"></script>
  <script type="text/javascript" src="{% static 'app/scripts/modules/auth.js'%}"></script>
  <script type="text/javascript" src="{% static 'app/scripts/modules/social-accounts.js'%}"></script>
  <script type="text/javascript" src="{% static 'app/scripts/modules/models.js'%}"></script>
  <script type="text/javascript" src="{% static 'app/scripts/layout.js'%}"></script>
  <script type="text/javascript" src="{% static 'app/scripts/universal-directives.js'%}"></script>
  <script type="text/javascript" src="{% static 'app/scripts/services/alert/alert.js'%}"></script>
  <script type="text/javascript" src="{% static 'app/scripts/services/private-message/private-message.js'%}"></script>
  <script type="text/javascript" src="{% static 'app/scripts/services/BS/BS.js'%}"></script>
  <script type="text/javascript" src="{% static 'app/scripts/services/album/album.js'%}"></script>
  <script type="text/javascript" src="{% static 'app/scripts/components/messages/messages.js'%}"></script>
  <script type="text/javascript" src="{% static 'app/scripts/components/donations.js'%}"></script>
  <script type="text/javascript" src="{% static 'app/scripts/components/index.js'%}"></script>
  <script type="text/javascript" src="{% static 'app/scripts/components/search/search.js'%}"></script>
  <script type="text/javascript" src="{% static 'app/scripts/components/dashboard.js'%}"></script>
  <script type="text/javascript" src="{% static 'app/scripts/components/dashboard-directives.js'%}"></script>
  {% if view == 'post' %}
  <script type="text/javascript" src="{% static 'app/scripts/components/post/post.js'%}"></script>
  {% elif view == 'item-timeline'%}
  <script type="text/javascript" src="{% static 'app/scripts/components/item-timeline.js'%}"></script>
  {% endif %}

  <script type="text/javascript">
    $("#content-wrapper").css({"min-height": $("body").height() + "px"});
  </script>

  {% load compile_static %}
  <!-- {% compile "app/scripts/app.coffee" %} -->
  <!-- {% compile "app/scripts/layout.coffee" %} -->
  <!-- {% compile "app/scripts/universal-directives.coffee" %} -->
  <!-- {% compile "app/scripts/components/index.coffee" %} -->
  <!-- {% compile "app/scripts/components/donations.coffee" %} -->
  <!-- {% compile "app/scripts/components/dashboard.coffee" %} -->
  <!-- {% compile "app/scripts/components/item-timeline.coffee" %} -->
  <!-- {% compile "app/scripts/components/dashboard-directives.coffee" %} -->
  <!-- {% compile "app/scripts/components/search/search.coffee" %} -->
  <!-- {% compile "app/scripts/components/messages/messages.coffee" %} -->
  <!-- {% compile "app/scripts/components/post/post.coffee" %} -->
  <!-- {% compile "app/scripts/modules/models.coffee" %} -->
  <!-- {% compile "app/scripts/modules/auth.coffee" %} -->
  <!-- {% compile "app/scripts/modules/social-accounts.coffee" %} -->
  <!-- {% compile "app/scripts/services/alert/alert.coffee" %} -->
  <!-- {% compile "app/scripts/services/bottom-sheet/bottom-sheet.coffee" %} -->
  <!-- {% compile "app/scripts/services/album/album.coffee" %} -->
  <!-- {% compile "app/scripts/services/private-message/private-message.coffee" %} -->
  <!-- {% compile "app/scripts/services/BS/BS.coffee" %} -->



  <!-- Alternatively, use absolute path relative to the app folder
  <script type="text/javascript" src='/static/app/scripts/index.js'></script>-->
</body>
</html>