<!DOCTYPE html>
<html>
<head>
  <title></title>
  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static 'app/bower_components/angular-material/angular-material.css'%}">
  <link rel="stylesheet" type="text/css" href="{% static 'app/bower_components/bootstrap/dist/css/bootstrap.css'%}">
  <link rel="stylesheet" type="text/css" href="{% static 'app/bower_components/font-awesome/css/font-awesome.css'%}">
  <link rel="stylesheet" type="text/css" href="{% static 'app/style/main.css'%}">
  {% if view == 'index' %}
  <link rel="stylesheet" type="text/css" href="{% static 'app/style/index.css'%}">
  {% elif view == 'results' %}
  <link rel="stylesheet" type="text/css" href="{% static 'app/style/results.css'%}">
  {% elif view == 'compose' %}
  <link rel="stylesheet" type="text/css" href="{% static 'app/style/compose.css'%}">
  {% elif view == 'login' %}
  <link rel="stylesheet" type="text/css" href="{% static 'app/style/login.css'%}">
  {% elif view == 'user' %}
  <link rel="stylesheet" type="text/css" href="{% static 'app/style/user.css'%}">
  {% endif %}
</head>

<body ng-app="Continue" style="background:#eee">
  <div ng-controller="LayoutCtrl">
    <nav ng-include="'/static/app/directives/nav-bar.html'"></nav>
    <div id='content-wrapper'>
      {% block content %}
      {% endblock %}
    </div>
  </div>

  

  {% load staticfiles %}

  {# Begin: Bower #}
  <script type="text/javascript" src="{% static 'app/bower_components/jQuery/dist/jquery.js'%}"></script>
  <script type="text/javascript" src="{% static 'app/bower_components/angular/angular.js'%}"></script>
  <script type="text/javascript" src="{% static 'app/bower_components/djangular/js/django-angular.js'%}"></script>
  <script type="text/javascript" src="{% static 'app/bower_components/angular-material/angular-material.js'%}"></script>
  <script type="text/javascript" src="{% static 'app/bower_components/bootstrap/dist/js/bootstrap.js'%}"></script>
  {# End: Bower #}

  <script type="text/javascript" src="{% static 'app/scripts/main.js'%}"></script>
  <script type="text/javascript" src="{% static 'app/scripts/layout.js'%}"></script>
  <script type="text/javascript" src="{% static 'app/scripts/navbar.js'%}"></script>
  <script type="text/javascript" src="{% static 'app/scripts/modal.js'%}"></script>
  {% if view == 'index' %}
  <script type="text/javascript" src="{% static 'app/scripts/index.js'%}"></script>
  {% elif view == 'results' %}
  <script type="text/javascript" src="{% static 'app/scripts/results.js'%}"></script>
  {% elif view == 'compose' %}
  <script type="text/javascript" src="{% static 'app/scripts/compose.js'%}"></script>
  {% elif view == 'login' %}
  <script type="text/javascript" src="{% static 'app/scripts/login.js'%}"></script>
  {% elif view == 'user' %}
  <script type="text/javascript" src="{% static 'app/scripts/user.js'%}"></script>
  {% endif %}

  <!-- Alternatively, use absolute path relative to the app folder
  <script type="text/javascript" src='/static/app/scripts/index.js'></script>-->
</body>
</html>